@model DodgeDynasty.Models.ActivateDraftModel

<div id="activateDraft">
	<div class="page-entries">
		<div class="page-section">
			<div class="page-header">Active Drafts</div>
			@foreach (var draft in Model.ActiveDrafts)
			{
				<div class="page-entry">
					<div class="act-draft">@draft.DraftYear @draft.LeagueName</div>
					<div class="act-draft-links">
						<a class="deactivate" href="SetDraftStatus/@draft.DraftId?isActive=false">&lt;Deactivate&gt;</a>
					</div>
				</div>
			}
		</div>
		<div class="page-section">
			<div class="page-header">Scheduled Drafts</div>
			@foreach (var draft in Model.ScheduledDrafts)
			{
				<div class="page-entry">
					<div class="act-draft">@draft.DraftYear @draft.LeagueName</div>
					<div class="act-draft-links">
						<a class="activate" href="SetDraftStatus/@draft.DraftId?isActive=true">&lt;Activate&gt;</a>
						<a class ="mark-complete" href="SetDraftStatus/@draft.DraftId?isComplete=true">&lt;Mark Complete&gt;</a>
					</div>
				</div>
			}
		</div>
		<div class="page-section">
			<div class="page-header">Completed Drafts</div>
			@foreach (var draft in Model.CompleteDrafts)
			{
				<div class="page-entry">
					<div class="act-draft">@draft.DraftYear @draft.LeagueName</div>
					<div class="act-draft-links">
						<a class="mark-incomplete" href="SetDraftStatus/@draft.DraftId?isComplete=false">&lt;Mark Incomplete&gt;</a>
					</div>
				</div>
			}
		</div>
	</div>

</div>