@model DodgeDynasty.Models.AddEditDraftModel

<div id="addDraft">
	<script type="text/javascript">
		$(function () {
			initAddEditDraft();
		});
	</script>
	<div class="large-page-header">@ViewBag.Title
		<div class="header-subtext">@Model.LeagueName</div>
	</div>
	@{ Html.EnableClientValidation(true); }
	@Html.ValidationSummary(false)
	<div class="error-messages">
		<div class="blank-owner-msg invalid hide-yo-wives">Error - Owner cannot be left blank.</div>
		<div class="dup-owner-msg invalid hide-yo-wives">Error - Owner selected more than once.</div>
	</div>
	<div class="page-entries">
		@using (Html.BeginForm("EditDraft", Model.AdminMode, FormMethod.Post, new { id = "draftForm" }))
		{
			<div>
				@Html.HiddenFor(m => m.LeagueId)
				@Html.HiddenFor(m => m.DraftId)
				<div>
					@Html.LabelFor(m => m.DraftDate): @Html.TextBoxFor(m => m.DraftDate, new { @class = "add-draft-date", type = "date", maxLength = "10" })
					@Html.TextBoxFor(m => m.DraftTime, new { @class = "add-draft-time", type = "time", maxLength = "10" })
				</div>
				<div>@Html.ValidationMessageFor(m => m.DraftDate)</div>
				<div>@Html.ValidationMessageFor(m => m.DraftTime)</div>
				<div>
					@Html.LabelFor(m => m.DraftYear): @Html.TextBoxFor(m => m.DraftYear, new { @class = "add-draft-year", maxLength = "4" })
					@Html.LabelFor(m => m.DraftLocation): @Html.TextBoxFor(m => m.DraftLocation, new { @class = "add-draft-location", maxLength = "50" })
				</div>
				<div>@Html.ValidationMessageFor(m => m.DraftYear)</div>
				<div>@Html.ValidationMessageFor(m => m.DraftLocation)</div>
				<div>
					@Html.LabelFor(m => m.NumOwners): @Html.TextBoxFor(m => m.NumOwners, new { @class = "ad-num-owners" })
					@Html.LabelFor(m => m.NumRounds): @Html.TextBoxFor(m => m.NumRounds, new { @class = "ad-num-rounds" })
					@Html.LabelFor(m => m.NumKeepers): @Html.TextBoxFor(m => m.NumKeepers, new { @class = "ad-num-keepers" })
					@Html.LabelFor(m => m.Format): @Html.DropDownListFor(m => m.Format, Model.GetDraftFormatItems(), new { @class = "add-draft-format" })
				</div>
				<div>@Html.ValidationMessageFor(m => m.NumOwners)</div>
				<div>@Html.ValidationMessageFor(m => m.NumRounds)</div>
				<div>@Html.ValidationMessageFor(m => m.NumKeepers)</div>
				<div>@Html.ValidationMessageFor(m => m.Format)</div>
				@if (Model.DraftId != 0)
				{
				<div>
					@Html.LabelFor(m => m.WinnerId): @Html.DropDownListFor(m => Model.WinnerId, Model.GetDraftOwnerUserItems(Model.WinnerId), new { @class = "ad-winner" })
					@Html.LabelFor(m => m.RunnerUpId): @Html.DropDownListFor(m => Model.RunnerUpId, Model.GetDraftOwnerUserItems(Model.RunnerUpId), new { @class = "ad-runner-up" })
					@Html.LabelFor(m => m.HasCoWinners): @Html.CheckBoxFor(m => m.HasCoWinners, new { @class = "ad-co-winners" })
				</div>
				}
			</div>
		}
		<div class="page-section">
			<div class="copy-lo-entry hide-yo-wives">
				<div class="league-owner">
					@Html.DropDownList("UserId", Model.GetLeagueOwnerUserItems(), new { @class = "lo-select" })
				</div>
				<div class="owner-controls">
					<a href="#" class="league-remove-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/minus.png")" alt="Remove Owner" /></a>
					<a href="#" class="league-add-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Owner" /></a>
				</div>
			</div>
			<div class="league-owners">
				<div class="lo-entry-header">
					<label class="lo-owner-header">Draft Owners</label>
					<label class="lo-controls-header"> </label>
				</div>
				@foreach (var ownerUser in Model.DraftOwnerUsers)
				{
					<div class="league-owner-entry">
						<div class="league-owner">
							@Html.DropDownListFor(o => ownerUser.UserId, Model.GetLeagueOwnerUserItems(ownerUser), new { @class = "lo-select" })
						</div>
						<div class="owner-controls">
							<a href="#" class="league-remove-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/minus.png")" alt="Remove Owner" /></a>
							<a href="#" class="league-add-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Owner" /></a>
						</div>
					</div>
				}
			</div>
			<div class="page-section"><button class="submit-draft" type="submit">Submit</button></div>
		</div>
	</div>
</div>