@model DodgeDynasty.Models.DraftSetupModel

<div id="setupDraft" data-draft-id="@Model.DraftId.Value">
	<script type="text/javascript">
		$(function () {
			playerHints = @Html.Raw(@Model.GetPlayerHints(false));
		});
	</script>
	<h2>Setup Draft Picks - @Model.GetCurrentDraftName() Draft</h2>
	@Html.ValidationSummary(false)
	<div class="error-messages">
		<div class="blank-owner-msg invalid hide-yo-wives">Error - Owner cannot be left blank.</div>
		<div class="dup-player-msg invalid hide-yo-wives">Error - Player cannot be selected more than once.</div>
	</div>
	<div class="draft clear-fix">
		<div class="sd-update-status hide-yo-husbands-too">Update Successful...</div>
		<div class="buttons page-section"><button id="submitDraftPicks1" class="submitDraftPicks" type="button">Update Draft</button></div>
		<div class="round-picks page-section">
		@foreach (var pick in Model.GetDraftSetupPicks())
		{
			var isNewRound = Model.IsNewRound(pick.RoundNum);
			if (isNewRound)
			{
				@Html.Raw("</div>");
				@Html.Raw("<div class=\"round-picks\">");
				Model.CurrentRoundNum = pick.RoundNum;
				<div class="round" data-round-num="@Model.CurrentRoundNum">
				<span class="round-right">Round <span class="round-num">@Model.CurrentRoundNum</span>
					<a href="#" class="delete-round-right @(Model.CurrentRoundNum == 1 ? "hide-yo-wives" : "")" tabindex="-1"><img src="@Url.Content("~/Content/images/minus.png")" alt="Delete Round" /></a>
					<a href="#" class="add-round-right" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Round" /></a>
					(<a href="#" class="reverse-round" tabindex="-1">Reverse</a>)
				</span></div>
			}
				<span class="pick" data-pick-id="@pick.DraftPickId" data-pick-num="@pick.PickNum">
					<div class="setup-pick-outline outline">
					@if (pick.UserId != 0)
					{
						 Model.SetCurrentGridOwnerUser(pick.UserId);
						 Model.SetCurrentGridPlayer(pick.PlayerId);
						 <span class="sd-pick-num">@pick.PickNum</span>@Html.DropDownListFor(m => m.CurrentGridOwnerUser.UserId, Model.GetDraftOwnerListItems(), new { @class = "pick-owner" })<a href="#" class="delete-pick-right @(pick.PickNum == 1 ? "hide-yo-husbands-too" : "")" tabindex="-1"><img src="@Url.Content("~/Content/images/minus.png")" alt="Delete Pick"/></a>
					}
					else
					{
						<span class="sd-pick-num">@pick.PickNum</span>@Html.DropDownList("UserId", Model.GetDraftOwnerListItems(), new { @class = "pick-owner" })<a href="#" class="delete-pick-right @(pick.PickNum == 1 ? "hide-yo-husbands-too" : "")" tabindex="-1"><img src="@Url.Content("~/Content/images/minus.png")" alt="Delete Pick"/></a>
					}
					@if (Model.CurrentGridPlayer != null && !string.IsNullOrEmpty(Model.CurrentGridPlayer.PlayerName))
					{
						<div data-player-id="@Model.CurrentGridPlayer.PlayerId" class="picked-player">
							<input class="picked-player-name" value="@Model.CurrentGridPlayer.PlayerName (@Model.CurrentGridPlayer.NFLTeam-@Model.CurrentGridPlayer.Position)"/>
							<span><a href="#" class="delete-picked-player">X</a></span>
						</div>
					}
					else
					{
						<div data-player-id="" class="picked-player">
							<input class="picked-player-name" value="" />
							<span><a href="#" class="delete-picked-player">X</a></span>
						</div>						
					}
					</div><span class="picks-right"><a href="#" class="add-pick-right" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Pick"/></a></span>
				</span>
		}
		</div>
		<div class="buttons page-section-large"><button id="submitDraftPicks2" class="submitDraftPicks" type="submit">Update Draft</button></div>
	</div>
</div>