@model DodgeDynasty.Models.PlayerRankModel

<div id="highlightQueueInnerPartial">
	<div class="hq-header-section">
		<label class="ba-header hq-header">Highlighted Queue</label>
	</div>
	<div class="">
		<div class="hq-empty-msg">
			<p>
				Your Queue is empty.
				<span class="pr-empty-edit-msg">
					<br /><br />(First: Click '<a href="#" class="pr-empty-edit-link">Unlock Highlighter</a>'
					<br />to allow Highlight Editing)
				</span>
				<br /><br />Click on players to Highlight & add them to your Queue!
				<br /><br />Once in the Queue, to re-sort players just Drag & Drop them.
				<br />
				<br /><br />
				@{var lastHighlightsDraft = Model.GetLastHighlightsDraft();}
				@if (lastHighlightsDraft != null)
				{
					<br />
					<span class="hq-copy-text">
						&lt;<a href="#" class="hq-copy-last-draft">Copy @lastHighlightsDraft.LeagueName queue</a>&gt;
					</span>
				}
			</p>
		</div>
		<table class="ba-table queue-table " data-link="ExpandQueue">
			<tbody>
				<tr class="unsortable">
					<th style="">#</th>
					<th>Rk</th>
					<th class="hq-player-th">Player</th>
					@if (Model.AreYearByeWeeksFound())
					{
						<th>Tm <span class="ba-bye-week">(Bye)</span></th>
					}
					else
					{
						<th>Tm</th>
					}
					<th>Pos</th>
				</tr>
				@{int hpCnt = 1;}
				@foreach (var player in Model.HighlightedPlayers)
				{
					<tr class="highlighted @player.HighlightClass @(player.PickNum != null ? ("hq-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you " : " "))) : "")" 
						data-player-id="@player.PlayerId">
						<td class="hq-rank-num" data-rank-num="@hpCnt">@(hpCnt++)</td>
						<td>@(player.RankNum != null ? player.RankNum.ToString() : "---")</td>
						<td class="ba-player-name" data-player-id="@player.PlayerId">
							@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
							{
								<a href="#" class="player-link">@player.PlayerName</a>
							}
							else
							{
								@player.PlayerName
							}
						</td>
						@if (player.PickNum != null)
						{
							<td colspan="2">(@player.NickName, #@player.PickNum)</td>
						}
						else
						{
							if (Model.AreYearByeWeeksFound())
							{
								var byeWeek = Model.GetNFLTeamByeWeek(player.NFLTeam);
								if (byeWeek != null)
								{
									<td class="nowrap">@player.NFLTeamDisplay <span class="ba-bye-week">(@byeWeek)</span></td>
								}
								else
								{
									<td class="nowrap">@player.NFLTeamDisplay</td>
								}
							}
							else
							{
								<td class="nowrap">@player.NFLTeamDisplay</td>
							}
							<td>@player.Position</td>
						}
					</tr>
				}
				<tr class="unsortable">
					<td colspan="5" class="expand">
						<a href="#" id="ExpandQueue" class="expand-link" data-expand="@Model.Options.ExpandQueue.ToString().ToLower()">More...</a>
					</td>
				</tr>
			</tbody>
		</table>
		<span class="hq-delete-span">
			&lt;<a href="#" class="hq-delete-all">Delete All Highlighting</a>&gt;
			<div id="hqConfirmDelete" class="center hide-yo-kids" title="Delete All Highlighting">
				<p>WARNING!</p>
				<p>This will delete all your Player Highlights, and CANNOT be undone.</p>
			</div>
		</span>
	</div>
</div>