@model DodgeDynasty.Models.PlayerRankModel

<div class="ba-category">
	@{
		var showBye = Model.CurrentRankCategory.ShowByeWeek && Model.AreYearByeWeeksFound();
		var showPos = Model.CurrentRankCategory.ShowPos;
	}
	<table class="ba-table" data-link="@Model.CurrentRankCategory.DataLink">
		@{var historyMode = Request.QueryString[DodgeDynasty.Shared.Constants.QS.HistoryMode]; }
		@if (Model.CompareRank != null && !DodgeDynasty.Shared.Utilities.ToBool(historyMode))
		{
            <div class="bold center">
				@Html.DropDownList("ComparedRank",
				Model.GetCurrentAvailableDraftRankItems(Model.CompareRank.RankId.ToString()),
				new { @class = "cr-rank-select" })
			</div>
			<div class="bold center">@Model.CompareRank.CategoryRankHeader</div>
			<caption class="ba-header">@Model.CurrentRankCategory.Header
				<span class="ba-hide-cat-text">(<a class="cr-remove-link" data-rank-id="@Model.CompareRank.RankId">Remove</a>)</span>
			</caption>
		}
		else
		{
			if (Model.AveragePlayerRank != null && !DodgeDynasty.Shared.Utilities.ToBool(historyMode))
			{
				<div class="cr-avg-ranks bold center">Average Selected Rankings</div>
			}
			<caption class="ba-header">@Model.CurrentRankCategory.Header
				<span class="ba-hide-cat-text">(<a class="ba-hide-cat-link" data-hide-id="@Model.CurrentRankCategory.HideId">Hide</a>)</span>
			</caption>
		}
		<tbody>
			<tr>
				@if (Model.AveragePlayerRank != null && !DodgeDynasty.Shared.Utilities.ToBool(historyMode))
				{
					<th>Rk</th>
					<th>Avg</th>
				}
				else
				{
					<th>Rk</th>
				}
				<th>Player</th>
				@if (showBye)
				{
					<th>Tm <span class="ba-bye-week">(Bye)</span></th>
				}
				else
				{
					<th>Tm</th>
				}
				@if (showPos) {
					<th>Pos</th>
				}
			</tr>
			@foreach (var player in Model.CurrentRankCategory.PlayerList)
			{
				<tr class="@((player.PickNum != null) ? ("ba-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you " : " "))) : "")
								@((player.HighlightClass != null ? "highlighted " + player.HighlightClass : " ")) ba-player-row"
					data-player-id="@player.PlayerId">
					<td>@player.RankNum</td>
					@if (Model.AveragePlayerRank != null && !DodgeDynasty.Shared.Utilities.ToBool(historyMode))
					{
						<td>@string.Format("{0:0.##}", player.AvgRankNum)</td>
					}
					<td class="ba-player-name" data-player-id="@player.PlayerId">
						@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
						{
							<a href="#" class="player-link">@player.PlayerName</a>
						}
						else
						{
							@player.PlayerName
						}
					</td>
					@if (player.PickNum != null)
					{
						<td colspan="@(showPos ? "2" : "1")">(@player.NickName, #@player.PickNum)</td>
					}
					else
					{
						if (showBye)
						{
							var byeWeek = Model.GetNFLTeamByeWeek(player.NFLTeam);
							if (byeWeek != null)
							{
							<td>@player.NFLTeamDisplay <span class="ba-bye-week">(@byeWeek)</span></td>
							}
							else
							{
							<td>@player.NFLTeamDisplay</td>
							}
						}
						else
						{
							<td>@player.NFLTeamDisplay</td>
						}
						if (showPos)
						{
							<td>@player.Position</td>
						}
					}
				</tr>
			}
			<tr>
				@if (Model.AveragePlayerRank != null && !DodgeDynasty.Shared.Utilities.ToBool(historyMode))
				{
					<td colspan="@(showPos ? "5" : "4")" class="expand">
						<a href="#" id="@Model.CurrentRankCategory.ExpandId" class="expand-link" data-expand="@Model.CurrentRankCategory.ExpandValue">More...</a>
					</td>
				}
				else
				{
					<td colspan="@(showPos ? "4" : "3")" class="expand">
						<a href="#" id="@Model.CurrentRankCategory.ExpandId" class="expand-link" data-expand="@Model.CurrentRankCategory.ExpandValue">More...</a>
					</td>
				}
			</tr>
		</tbody>
	</table>
</div>