@model DodgeDynasty.Models.PlayerRankModel
@using DodgeDynasty.Shared;

<div id="comparePlayerRanksPartial">
	<script type="text/javascript">
		$(function () {
			ranksWindow = @(Model.RanksWindow);
			clientCookieOptions = JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Options)))');
			initPlayerRanksShared();
		});
	</script>
	@Html.Partial(Url.Content("../Draft/CurrentDraftPickPartial"), Model)
	<div class="rank-header">
		<div class="rank-name" data-compare-val="true" data-compare-pos="@Model.CompRankPosition"
			 data-last-pick-end-time="@(Model.PreviousDraftPick != null ? Model.PreviousDraftPick.PickEndDateTime.ToDateTimeString() : "")"
			 data-user-id="@Model.CurrentUserId">
			<text>Compare Rankings - @ViewBag.Title</text>
		</div>
		<div class="more-rank-opts">
			@if (ViewBag.Title == "Best Available")
			{
				<a href="@Url.Content("~/Draft/PlayerRanks?compare=true")" id="allPlayersLink">Show All Players</a>
			}
			else
			{
				<a href="@Url.Content("~/Draft/BestAvailable?compare=true")" id="bestAvailLink">Show Best Available</a>
			}
			<text>&#8226; <a href="@Url.Content("~/Draft/RankingsList")" id="otherRanksLink">More Rankings...</a></text>
			<div class="pr-highlight-links">
				<a class="pr-toggle-highlight" href="#">Show Highlighting</a>
				<span class="pr-highlight-options">&#8226; <a class="pr-edit-highlight" href="#">Lock Highlighter</a></span>
			</div>
			<div class="pr-toggle-links">
				<a class="pr-expand-all" href="#">Expand All</a>/<a class="pr-collapse-all" href="#">Collapse All</a>
			</div>
		</div>
	</div>
	<div class="rank-container">
		<div class="ba-rankings">
			@Html.Partial(Url.Content("../Draft/HighlightQueuePartial"), Model)
			@if (Model.Options.ShowAvgCompRanks && Model.AveragePlayerRank != null)
			{
				@Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetAverageRankCategory(Model.AveragePlayerRank))
			}
			@foreach (var compareRankModel in Model.CompareRankModels)
			{
				@Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetCompareRanksCategory(compareRankModel))
			}
			<div class="ba-category cr-add-compare">
				<div class="cr-add-rank-content">
				@if (Model.CompareRankModels.Count < DodgeDynasty.Shared.Utilities.GetMaxCompareRanks())
				{
					<span class="cr-add-rank-text">Add ranking to compare</span><a href="#" class="cr-add-rank" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Rank" /></a>
				}
				@if (Model.CompareRankModels.Count == 0)
				{
				<div class="center cr-add-rank-msg">
					<p>Click the add button (<a href="#" class="cr-add-rank" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Rank" /></a>) above multiple times to compare multiple rankings!</p>
				</div>
				}
				else
				{
				<div class="center cr-show-avg">
					<p>@Html.CheckBoxFor(m => m.Options.ShowAvgCompRanks, new { @class = "cr-chk-show-avg" }) @Html.LabelFor(m => m.Options.ShowAvgCompRanks, "Show Averages?", new { @class = "cr-lbl-show-avg" })</p>
					<p>@Html.LabelFor(m => m.CompRankPosition, "Position:", new { @class = "cr-lbl-show-avg" }) @Html.DropDownListFor(m => m.CompRankPosition, Model.GetPositions(Model.CompRankPosition), new { id = "crPosition" })</p>
				</div>
				}
				</div>
			</div>
	</div>
</div>
