@model DodgeDynasty.Models.DraftModel
@using DodgeDynasty.Shared;
<script type="text/javascript">
	$(function () {
		isUserTurn = @(Model.IsUserTurn() ? "true" : "false");
		loggedInUserName = "@Model.CurrentLoggedInOwnerUser.UserName";
		siteConfigVars = JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SiteConfigVars)))');
		tickingClockAudioKillSwitch = @(Utilities.GetBoolSiteConfigValue(Model, Constants.AppSettings.TickingClockAudioKillSwitch) ? "true" : "false");
		initRefreshedPage();
	});
</script>
<div class="draft-info">
	@{
		var isDraftActive = Model.IsDraftActive();
		if (DodgeDynasty.Shared.Utilities.GetRouteDraftId(Url.RequestContext.RouteData) != null)
		{
			<div class="draft-history-alert">
				You're currently viewing <a href="@Url.Content("~/Draft/History")">draft history</a> pages.
				<a class="latest-draft-link" href="@Url.Content("~/Draft/Display")">Click here for the latest draft.</a>
			</div>
		}
	}

	<div class="draft-status" data-last-pick-end-time="@(Model.PreviousDraftPick != null ? Model.PreviousDraftPick.PickEndDateTime.ToDateTimeString() : "")"
		 data-user-id="@Model.CurrentUserId">
		<span class="draft-title">@Model.GetCurrentDraftName()</span>
		<div class="drafter">
			@if (Model.CurrentClockOwnerUser != null)
			{
				<div class="current-turn">
					On The Clock:
					@if (Model.IsUserTurn())
					{
						<span class="cdp-clock-owner bold">YOU!</span>
					}
					else
					{
						<span class="cdp-clock-owner bold">@Model.CurrentClockOwnerUser.NickName</span>
					}
					@if (isDraftActive && (Request.Url.AbsoluteUri.Contains("Draft/Display")))
					{
						<text>- Pick <span class="cdp-picknum"><a id="gotoPickNum">@Model.CurrentDraftPick.PickNum</a></span></text>
					}
					else
					{
						<text>- Pick <span class="cdp-picknum">@Model.CurrentDraftPick.PickNum</span></text>
					}
				</div>

				if (Model.CurrentDraftPick.PickStartDateTime.HasValue)
				{
					<div class="start-time"
						 data-draft-time="@Model.CurrentDraft.DraftDate.ToString("MM/dd/yyyy HH:mm:ss")"
						 data-current-pick="@Model.CurrentDraftPick.PickNum"
						 data-pick-start-time="@Model.CurrentDraftPick.PickStartDateTime.Value.ToString("MM/dd/yyyy HH:mm:ss")"
						 data-current-time="@Model.GetCurrentTimeEastern(DateTime.UtcNow).ToString("MM/dd/yyyy HH:mm:ss")"
						 data-pick-time-seconds="@Model.PickTimeSeconds"
						 data-use-time-zone="@Model.UseTimeZone()"></div>
				}

				var historyMode = Request.QueryString[DodgeDynasty.Shared.Constants.QS.HistoryMode];
				if (isDraftActive && !DodgeDynasty.Shared.Utilities.ToBool(historyMode))
				{
					<div class="prev-pick @(Model.PreviousDraftPick == null ? "hide-yo-wives": "")">
						Last Pick:
						@if (Model.PreviousDraftPick != null)
						{
							var prevPlayer = Model.PreviousDraftPick.Player.PlayerName;
							var prevUser = Model.PreviousDraftPick.User.NickName;
							<span class="cdp-prev-player">@prevPlayer</span> <text>-</text> <span class="cdp-prev-owner">@prevUser</span>
						}
						else
						{
							<span class="cdp-prev-player"></span> <text>-</text> <span class="cdp-prev-owner"></span>
						}
					</div>
					var nextTurnPickCount = Model.GetPickCountUntilNextTurn();
					<div class="next-pick-count @(nextTurnPickCount <= 0 ? "hide-yo-wives" : "")">
						<span class="cdp-pickctr-text">
							@if (nextTurnPickCount > 0)
							{
								if (nextTurnPickCount == 1)
								{
									<text>(You're up next...)</text>
								}
								else
								{
									<text>(You're up after @nextTurnPickCount picks)</text>
								}
							}
						</span>
					</div>
					var showEnterPick = isDraftActive && Model.IsUserTurn() && ViewBag.Title != "Draft Pick";
					<div class="cdp-enter-pick @(showEnterPick ? "" : "hide-yo-wives")">Please <a href="@Url.Content("~/Draft/Pick")">enter your draft pick</a>.</div>
				}
			}
			else if (!Model.CurrentDraft.IsComplete && Model.DraftPicks.Count == 0)
			{
				<div class="start-time"
					 data-draft-time="@Model.CurrentDraft.DraftDate.ToString("MM/dd/yyyy HH:mm:ss")"
					 data-pick-start-time="@Model.CurrentDraft.DraftDate.ToString("MM/dd/yyyy HH:mm:ss")"
					 data-current-time="@Model.GetCurrentTimeEastern(DateTime.UtcNow).ToString("MM/dd/yyyy HH:mm:ss")"
					 data-pick-time-seconds="@Model.PickTimeSeconds"
					 data-use-time-zone="@Model.UseTimeZone()"></div>
			}
			else
			{
				<div class="start-time"></div>
			}
			@{var showDraftComplete = Model.CurrentClockOwnerUser == null && (Model.CurrentDraft.IsComplete || Model.DraftPicks.Count > 0);}
			<span class="cdp-draft-complete @(showDraftComplete ? "" : "hide-yo-wives")">The Draft Has Completed</span>
		</div>
	</div>
</div>