@model DodgeDynasty.Models.DraftDisplayModel
@{
	ViewBag.Title = "Draft";
}
@section scripts {
	<script type="text/javascript" src="@Url.Content("~/Scripts/Display.js")"></script>
}
<div id="draftDisplay">
	@Html.Partial("CurrentDraftPickPartial", Model)
	<div class="draft-container">
		<div class="draft">
			<div class="round-picks">
				<span class="draft-round-row">
		@foreach (var pick in Model.DraftPicks)
		{
			if (Model.CurrentRoundNum != pick.RoundNum)
			{
				@Html.Raw(" </span> ");
				@Html.Raw(" </div> ");
				@Html.Raw(" <div class=\"round-picks\"> ");
				@Html.Raw(" <span class=\"draft-round-row\"> ");
				Model.CurrentRoundNum = pick.RoundNum;
				<div class="clear-fix round">Round <span class="round-num">@Model.CurrentRoundNum</span>
					@if(Model.CurrentDraft.NumKeepers >= pick.RoundNum) {
						<text>(Keeper)</text>
					}
				</div>
			}
			Model.SetCurrentGridOwnerUser(pick.UserId);
			Model.SetCurrentGridPlayer(pick.PlayerId);
			<div class="draft-pick-outline @(Model.IsSnakeRound(pick.RoundNum) ? "snake-pick" : (Model.IsLastPickBeforeSnakeRound(pick) ? "pre-snake-pick" : "")) outline">
			<div class="draft-pick @Model.CurrentGridOwnerUser.CssClass @(!string.IsNullOrEmpty(Model.CurrentGridPlayer.PlayerName) ? "filled" : "")">
				<div class="clear-fix draft-pick-meta">
					<span class="pick-info"><span class="pick-num">@pick.PickNum</span> @Model.CurrentGridOwnerUser.NickName</span>
					<span class="player-info">
					@if (!string.IsNullOrEmpty(Model.CurrentGridPlayer.Position))
					{
						<span>@Model.GetNFLTeamDisplay(Model.CurrentGridPlayer.NFLTeam)-<span class="pos">@Model.CurrentGridPlayer.Position</span></span>
					}
					</span>
				</div>
				<span class="player-name">@Model.CurrentGridPlayer.PlayerName</span>
			</div>
			</div>
		}
				</span>
			</div>
		</div>
	</div>
</div>
