@model DodgeDynasty.Models.PlayerRankModel

<div id="highlightQueuePartial" class="ba-category pr-highlight-section hide-yo-wives">
	<span class="hq-color-span">
		Select Color:  @Html.DropDownList("highlight-color", Model.GetHighlightColors())
	</span>
	<div class="hq-header-section">
		<label class="ba-header hq-header">Highlighted Queue</label>
	</div>
	<div class="">
		<div class="hq-empty-msg">
			<p>
				Your Queue is empty.
				<span class="pr-empty-edit-msg"><br /><br />(First: Click '<a href="#" class="pr-empty-edit-link">Turn Edit ON</a>' to 
				<br />allow Highlight Editing)</span>
                <br /><br />Click on players to Highlight & add them to your Queue!
                <br /><br />Once in the Queue, to re-sort players just Drag & Drop them.
				<br />
				<br /><br />
				@{var lastHighlightsDraft = Model.GetLastHighlightsDraft();}
				@if (lastHighlightsDraft != null)
				{
					<br />
					<span class="hq-copy-text">
						&lt;<a href="#" class="hq-copy-last-draft">Copy @lastHighlightsDraft.LeagueName queue</a>&gt;
					</span>
				}
			</p>
		</div>
		<table class="ba-table queue-table " data-link="ExpandQueue">
			<tbody>
				<tr class="unsortable">
					<th style="">#</th>
					<th>Rk</th>
					<th class="hq-player-th">Player</th>
					<th>Tm</th>
					<th>Pos</th>
					@if (Model.AreYearByeWeeksFound())
					{
						<th>Bye</th>
					}
				</tr>
				@{int hpCnt = 1;}
				@foreach (var player in Model.HighlightedPlayers)
				{
					<tr class="highlighted @player.HighlightClass @(player.PickNum != null ? "hq-selected" : "")" data-player-id="@player.PlayerId">
						<td class="hq-rank-num" data-rank-num="@hpCnt">@(hpCnt++)</td>
						<td>@(player.RankNum != null ? player.RankNum.ToString() : "---")</td>
						<td class="ba-player-name" data-player-id="@player.PlayerId">
							@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
							{
								<a href="#" class="player-link">@player.PlayerName</a>
							}
							else
							{
								@player.PlayerName
							}
						</td>
						@if (player.PickNum != null)
						{
							<td colspan="@(Model.AreYearByeWeeksFound() ? "3" : "2")">(@player.NickName, #@player.PickNum)</td>
						}
						else
						{
							<td>@player.NFLTeamDisplay</td>
										<td>@player.Position</td>
							if (Model.AreYearByeWeeksFound())
							{
								var byeWeek = Model.GetNFLTeamByeWeek(player.NFLTeam);
								if (byeWeek != null)
								{
									<td class="ba-bye-week">(@byeWeek)</td>
								}
								else
								{
									<td class="ba-bye-week"></td>
								}
							}
						}
					</tr>
				}
				<tr class="unsortable">
					<td colspan="@(Model.AreYearByeWeeksFound() ? "6" : "5")" class="expand">
						<a href="#" id="ExpandQueue" class="expand-link" data-expand="@Model.Options.ExpandQueue.ToString().ToLower()">More...</a>
					</td>
				</tr>
			</tbody>
		</table>
		<span class="hq-delete-span">
			&lt;<a href="#" class="hq-delete-all">Delete All Highlighting</a>&gt;
			<div id="hqConfirmDelete" class="center hide-yo-kids" title="Delete All Highlighting">
				<p>WARNING!</p>
				<p>This will delete your Player Highlights, and cannot be undone.</p>
			</div>
		</span>
	</div>
</div>