@model DodgeDynasty.Models.DraftHistoryModel
@{
	ViewBag.Title = "Draft History";
}
<div id="draftHistory">
	<div class="large-page-header">Draft History</div>
	<div class="page-entries">
		@foreach (var league in Model.Leagues)
		{
			<div class="page-section">
				<div class="page-header">@league.LeagueName</div>
				<div class="lh-entry">
					@{var leagueContainsWinner = Model.LeagueContainsWinner(league.LeagueId);}
					@if (leagueContainsWinner)
					{
						<div class="dh-header">
							<span class="dh-year">Year</span>
							<span class="dh-winner">Winner</span>
							<span class="dh-runner-up">Runner-up</span>
						</div>
					}
					@foreach (var draft in Model.GetLeagueDrafts(league.LeagueId))
					{
						<div class="page-entry">
							<span class="dh-year">
								<a href="@Url.Content("/Draft/Display/" + draft.DraftId)">@draft.DraftYear @draft.LeagueName</a>
							</span>
							@if (leagueContainsWinner)
							{
								<span class="dh-winner">@Model.GetDraftWinnerName(draft.WinnerId, draft.HasCoWinners)</span>
								<span class="dh-runner-up">@Model.GetDraftWinnerName(draft.RunnerUpId, draft.HasCoWinners)</span>
							}
						</div>
					}
				</div>
			</div>
		}
	</div>

</div>
