@model DodgeDynasty.Models.PlayerRankModel

<div id="playerRanksPartial">
	<script type="text/javascript">
		$(function () {
			ranksWindow = @(Model.RanksWindow);
			clientCookieOptions = JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Options)))');
			initPlayerRanksShared();
		});
	</script>
	@Html.Partial(Url.Content("../Draft/CurrentDraftPickPartial"), Model)
	<div class="rank-header">
		<div class="rank-name" data-rank-id="@Model.CurrentRank.RankId">
			@if (!string.IsNullOrEmpty(Model.CurrentRank.Url))
			{
				<a href="@Model.CurrentRank.Url" target="_blank">@Model.CurrentRank.RankName</a><text> - @ViewBag.Title (@Model.CurrentRank.RankDate.ToString("M/d/yy"))</text>
			}
			else
			{
				<text>@Model.CurrentRank.RankName - @ViewBag.Title (@Model.CurrentRank.RankDate.ToString("M/d/yy"))</text>
			}
		</div>
		<div class="more-rank-opts">
			@{
				var draftId = DodgeDynasty.Shared.Utilities.GetRouteDraftId(Url.RequestContext.RouteData);
				var historyMode = Request.QueryString[DodgeDynasty.Shared.Constants.QS.HistoryMode];
				if (draftId != null && DodgeDynasty.Shared.Utilities.ToBool(historyMode))
				{
					if (ViewBag.Title == "Best Available")
					{
						<a href="@Url.Content("~/Draft/PlayerRanks/" + draftId + "?rankId=" + Model.RankId + "&historyMode=true")" id="allPlayersLink">Show All Players</a>
					}
					else
					{
						<a href="@Url.Content("~/Draft/BestAvailable/" + draftId + "?rankId=" + Model.RankId + "&historyMode=true")" id="bestAvailLink">Show Best Available</a>
					}
					<text>&#8226; <a href="@Url.Content("~/Draft/RankingsList/" + draftId + "?historyMode=true")" id="otherRanksLink">More Rankings...</a></text>
				}
				else
				{
					if (ViewBag.Title == "Best Available")
					{
						<a href="@Url.Content("~/Draft/PlayerRanks?rankId=" + Model.RankId)" id="allPlayersLink">Show All Players</a>
					}
					else
					{
						<a href="@Url.Content("~/Draft/BestAvailable?rankId=" + Model.RankId)" id="bestAvailLink">Show Best Available</a>
					}
					<text>&#8226; <a href="@Url.Content("~/Draft/RankingsList")" id="otherRanksLink">More Rankings...</a></text>
				}
			}
			@if (!DodgeDynasty.Shared.Utilities.ToBool(historyMode))
			{
				<div class="pr-highlight-links">
					<a class="pr-toggle-highlight" href="#">Show Highlighting *NEW*</a>
					<span class="pr-highlight-options">&#8226; <a class="pr-edit-highlight" href="#">Turn Highlighter Off</a></span>
				</div>
			}
			<div class="pr-toggle-links">
				<a class="pr-expand-all" href="#">Expand All</a>/<a class="pr-collapse-all" href="#">Collapse All</a>
			</div>
		</div>
	</div>
	<div class="rank-container">
		<div class="ba-rankings">
			@Html.Partial(Url.Content("../Draft/HighlightQueuePartial"), Model)
			@Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.Overall))
            @Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.QB))
			@Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.RB))
			@Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.WRTE))
			@Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.DEF))
			@Html.Partial(Url.Content("../Draft/_PlayerRankCategory"), Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.K))
		</div>
	</div>
</div>