@model DodgeDynasty.Models.PlayerRankModel

<div id="playerRanksPartial">
	<script type="text/javascript">
		$(function () {
			ranksWindow = @(Model.RanksWindow);
			initPlayerRanksShared();
		});
	</script>
	@Html.Partial("CurrentDraftPickPartial", Model)
	<div class="rank-header">
		<div class="rank-name" data-rank-id="@Model.CurrentRank.RankId">
			@if (!string.IsNullOrEmpty(Model.CurrentRank.Url))
			{
				<a href="@Model.CurrentRank.Url" target="_blank">@Model.CurrentRank.RankName</a><text> - @ViewBag.Title (@Model.CurrentRank.RankDate.ToString("M/d/yy"))</text>
			}
			else
			{
				<text>@Model.CurrentRank.RankName - @ViewBag.Title (@Model.CurrentRank.RankDate.ToString("M/d/yy"))</text>
			}
		</div>
		<div class="more-rank-opts">
			@{
				var draftId = DodgeDynasty.Shared.Utilities.GetRouteDraftId(Url.RequestContext.RouteData);
				var historyMode = Request.QueryString[DodgeDynasty.Shared.Constants.QS.HistoryMode];
				if (draftId != null && DodgeDynasty.Shared.Utilities.ToBool(historyMode))
				{
					if (ViewBag.Title == "Best Available")
					{
						<a href="@Url.Content("~/Draft/PlayerRanks/" + draftId + "?rankId=" + Model.RankId + "&historyMode=true")" id="allPlayersLink">Show All Players</a>
					}
					else
					{
						<a href="@Url.Content("~/Draft/BestAvailable/" + draftId + "?rankId=" + Model.RankId + "&historyMode=true")" id="bestAvailLink">Show Best Available</a>
					}
					<text>&#8226; <a href="@Url.Content("~/Draft/RankingsList/" + draftId + "?historyMode=true")" id="otherRanksLink">View Other Rankings</a></text>
				}
				else
				{
					if (ViewBag.Title == "Best Available")
					{
						<a href="@Url.Content("~/Draft/PlayerRanks?rankId=" + Model.RankId)" id="allPlayersLink">Show All Players</a>
					}
					else
					{
						<a href="@Url.Content("~/Draft/BestAvailable?rankId=" + Model.RankId)" id="bestAvailLink">Show Best Available</a>
					}
					<text>&#8226; <a href="@Url.Content("~/Draft/RankingsList")" id="otherRanksLink">View Other Rankings</a></text>
				}
			}
			<div class="pr-toggle-links">
				<a class="pr-expand-all" href="#">Expand All</a>/<a class="pr-collapse-all" href="#">Collapse All</a>
			</div>
			<div class="pr-highlight-links">
				<a class="pr-toggle-highlight" href="#">Show Highlighting (NEW!)</a>
			</div>
		</div>
	</div>
	<div class="rank-container">
		<div class="ba-rankings">
			<div class="ba-category">
				<table class="ba-table" data-link="ExpandOverall">
					<caption class="ba-header">OVERALL</caption>
					<tbody>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Team</th>
							<th>Pos</th>
							@if (Model.AreYearByeWeeksFound()) {
								<th>Bye</th>
							}
						</tr>
						@foreach (var player in Model.OverallRankedPlayers)
						{
							<tr class="@((player.PickNum != null) ? ("ba-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you " : " "))) : "") 
								@((player.HighlightValue != null ? "highlighted " + player.HighlightValue : " "))"
								 data-player-id="@player.PlayerId">
								<td>@player.RankNum</td>
								<td class="ba-player-name" data-player-id="@player.PlayerId">
									@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
									{
										<a href="#" class="player-link">@player.PlayerName</a>
									}
									else
									{
										@player.PlayerName
									}
								</td>
								@if (player.PickNum != null)
								{
									<td colspan="@(Model.AreYearByeWeeksFound() ? "3" : "2")">(@player.NickName, #@player.PickNum)</td>
								}
								else
								{
									<td>@player.NFLTeamDisplay</td>
									<td>@player.Position</td>
									if (Model.AreYearByeWeeksFound())
									{
										<td class="ba-bye-week">(@Model.GetNFLTeamByeWeek(player.NFLTeam))</td>
									}
								}
							</tr>
						}
						<tr>
							<td colspan="@(Model.AreYearByeWeeksFound() ? "5" : "4")" class="expand">
								<a href="#" id="ExpandOverall" class="expand-link" data-expand="@Model.Options.ExpandOverall.ToString().ToLower()">More...</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ba-category">
				<table class="ba-table" data-link="ExpandQB">
					<caption class="ba-header">QB</caption>
					<tbody>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Team</th>
						</tr>
						@foreach (var player in Model.QBRankedPlayers)
						{
							<tr class="@((player.PickNum != null) ? ("ba-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you" : ""))) : "") "
								 data-player-id="@player.PlayerId">
								<td>@player.RankNum</td>
								<td class="ba-player-name" data-player-id="@player.PlayerId">
									@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
									{
										<a href="#" class="player-link">@player.PlayerName</a>
									}
									else
									{
										@player.PlayerName
									}
								</td>
								@if (player.PickNum != null)
								{
									<td class="ba-draft-team">(@player.NickName, #@player.PickNum)</td>
								}
								else
								{
									<td>@player.NFLTeamDisplay</td>
								}
							</tr>
						}
						<tr>
							<td colspan="3" class="expand">
								<a href="#" id="ExpandQB" class="expand-link" data-expand="@Model.Options.ExpandQB.ToString().ToLower()">More...</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ba-category">
				<table class="ba-table" data-link="ExpandRB">
					<caption class="ba-header">RB</caption>
					<tbody>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Team</th>
						</tr>
						@foreach (var player in Model.RBRankedPlayers)
						{
							<tr class="@((player.PickNum != null) ? ("ba-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you" : ""))) : "") "
								 data-player-id="@player.PlayerId">
								<td>@player.RankNum</td>
								<td class="ba-player-name" data-player-id="@player.PlayerId">
									@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
									{
										<a href="#" class="player-link">@player.PlayerName</a>
									}
									else
									{
										@player.PlayerName
									}
								</td>
								@if (player.PickNum != null)
								{
									<td class="ba-draft-team">(@player.NickName, #@player.PickNum)</td>
								}
								else
								{
									<td>@player.NFLTeamDisplay</td>
								}
							</tr>
						}
						<tr>
							<td colspan="3" class="expand">
								<a href="#" id="ExpandRB" class="expand-link" data-expand="@Model.Options.ExpandRB.ToString().ToLower()">More...</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ba-category">
				<table class="ba-table" data-link="ExpandWRTE">
					<caption class="ba-header">WR/TE</caption>
					<tbody>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Team</th>
							<th>Pos</th>
						</tr>
						@foreach (var player in Model.WRTERankedPlayers)
						{
							<tr class="@((player.PickNum != null) ? ("ba-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you" : ""))) : "") "
								 data-player-id="@player.PlayerId">
								<td>@player.RankNum</td>
								<td class="ba-player-name" data-player-id="@player.PlayerId">
									@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
									{
										<a href="#" class="player-link">@player.PlayerName</a>
									}
									else
									{
										@player.PlayerName
									}
								</td>
								@if (player.PickNum != null)
								{
									<td class="ba-draft-team" colspan="2">(@player.NickName, #@player.PickNum)</td>
								}
								else
								{
									<td>@player.NFLTeamDisplay</td>
									<td>@player.Position</td>
								}
							</tr>
						}
						<tr>
							<td colspan="4" class="expand">
								<a href="#" id="ExpandWRTE" class="expand-link" data-expand="@Model.Options.ExpandWRTE.ToString().ToLower()">More...</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ba-category">
				<table class="ba-table" data-link="ExpandDEF">
					<caption class="ba-header">DEF</caption>
					<tbody>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Team</th>
						</tr>
						@foreach (var player in Model.DEFRankedPlayers)
						{
							<tr class="@((player.PickNum != null) ? ("ba-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you" : ""))) : "") "
								 data-player-id="@player.PlayerId">
								<td>@player.RankNum</td>
								<td class="ba-player-name" data-player-id="@player.PlayerId">
									@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
									{
										<a href="#" class="player-link">@player.PlayerName</a>
									}
									else
									{
										@player.PlayerName
									}
								</td>
								@if (player.PickNum != null)
								{
									<td class="ba-draft-team">(@player.NickName, #@player.PickNum)</td>
								}
								else
								{
									<td>@player.NFLTeamDisplay</td>
								}
							</tr>
						}
						<tr>
							<td colspan="3" class="expand">
								<a href="#" id="ExpandDEF" class="expand-link" data-expand="@Model.Options.ExpandDEF.ToString().ToLower()">More...</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ba-category">
				<table class="ba-table" data-link="ExpandK">
					<caption class="ba-header">K</caption>
					<tbody>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Team</th>
						</tr>
						@foreach (var player in Model.KRankedPlayers)
						{
							<tr class="@((player.PickNum != null) ? ("ba-selected " + player.CssClass + ((Model.IsLoggedInUser(player.UserId) ? " you" : ""))) : "") "
								 data-player-id="@player.PlayerId">
								<td>@player.RankNum</td>
								<td class="ba-player-name" data-player-id="@player.PlayerId">
									@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
									{
										<a href="#" class="player-link">@player.PlayerName</a>
									}
									else
									{
										@player.PlayerName
									}
								</td>
								@if (player.PickNum != null)
								{
									<td class="ba-draft-team">(@player.NickName, #@player.PickNum)</td>
								}
								else
								{
									<td>@player.NFLTeamDisplay</td>
								}
							</tr>
						}
						<tr>
							<td colspan="3" class="expand">
								<a href="#" id="ExpandK" class="expand-link" data-expand="@Model.Options.ExpandK.ToString().ToLower()">More...</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>