@model DodgeDynasty.Models.PlayerRankModel

<div id="playerRanksPartial">
	<script type="text/javascript">
		$(function () {
			ranksWindow = @(Model.RanksWindow);
			initPlayerRanksShared();
		});
	</script>
	@Html.Partial("CurrentDraftPickPartial", Model)
	<div class="rank-header">
		<div class="rank-name" data-rank-id="@Model.CurrentRank.RankId">
			@if (!string.IsNullOrEmpty(Model.CurrentRank.Url))
			{
				<a href="@Model.CurrentRank.Url" target="_blank">@Model.CurrentRank.RankName</a><text> - @ViewBag.Title (@Model.CurrentRank.RankDate.ToString("M/d/yy"))</text>
			}
			else
			{
				<text>@Model.CurrentRank.RankName - @ViewBag.Title (@Model.CurrentRank.RankDate.ToString("M/d/yy"))</text>
			}
		</div>
		<div class="more-rank-opts">
			@{
				var draftId = DodgeDynasty.Shared.Utilities.GetRouteDraftId(Url.RequestContext.RouteData);
				var historyMode = Request.QueryString[DodgeDynasty.Shared.Constants.QS.HistoryMode];
				if (draftId != null && DodgeDynasty.Shared.Utilities.ToBool(historyMode))
				{
					if (ViewBag.Title == "Best Available")
					{
						<a href="@Url.Content("~/Draft/PlayerRanks/" + draftId + "?rankId=" + Model.RankId + "&historyMode=true")" id="allPlayersLink">Show All Players</a>
					}
					else
					{
						<a href="@Url.Content("~/Draft/BestAvailable/" + draftId + "?rankId=" + Model.RankId + "&historyMode=true")" id="bestAvailLink">Show Best Available</a>
					}
					<text>&#8226; <a href="@Url.Content("~/Draft/RankingsList/" + draftId + "?historyMode=true")" id="otherRanksLink">View Other Rankings</a></text>
				}
				else
				{
					if (ViewBag.Title == "Best Available")
					{
						<a href="@Url.Content("~/Draft/PlayerRanks?rankId=" + Model.RankId)" id="allPlayersLink">Show All Players</a>
					}
					else
					{
						<a href="@Url.Content("~/Draft/BestAvailable?rankId=" + Model.RankId)" id="bestAvailLink">Show Best Available</a>
					}
					<text>&#8226; <a href="@Url.Content("~/Draft/RankingsList")" id="otherRanksLink">View Other Rankings</a></text>
				}
			}
			<div class="pr-toggle-links">
				<a class="pr-expand-all" href="#">Expand All</a>/<a class="pr-collapse-all" href="#">Collapse All</a>
			</div>
			<div class="pr-highlight-links">
				<a class="pr-toggle-highlight" href="#">Show Highlighting *NEW!*</a>
			</div>
		</div>
	</div>
	<div class="rank-container">
		<div class="ba-rankings">
			<div class="pr-highlight-section hide-yo-wives" style="display: inline-block; margin-right: 10px; min-height: 386px; min-width: 220px; border: 2px solid darkblue; border-radius: 6px; -webkit-border-radius: 6px; margin-right: 0px; margin-bottom: 20px;">
				<span class="hq-color-span" style="display: inline-block; width: 100%; padding-top: 2px; padding-bottom: 3px; background-color: yellow; border-bottom: 2px solid darkblue; border-radius: 6px; -webkit-border-radius: 6px;">
					Select Color:  @Html.DropDownList("HighlightColor", Model.GetHighlightColors())
				</span>
				<div>
					<label class="ba-header" style="font-size: inherit; font-weight: bold; padding-top: 5px;">Highlighted Queue</label>
				</div>
				<table class="ba-table" style="margin-left: 1px;" data-link="ExpandDEF">
					<tbody>
						<tr>
							<th>#</th>
							<th>Rk</th>
							<th>Player</th>
							<th>Tm</th>
							<th>Pos</th>
							<th>Bye</th>
						</tr>
					@{int hpCnt = 1;}
					@foreach (var player in Model.HighlightedPlayers)
					{
						<tr class="highlighted @player.HighlightValue" data-player-id="@player.PlayerId">
							<td>@(hpCnt++)</td>
							<td>@player.RankNum</td>
							<td class="ba-player-name" data-player-id="@player.PlayerId">
								@if (Model.IsDraftActive() && Model.IsUserTurn() && player.PickNum == null)
								{
									<a href="#" class="player-link">@player.PlayerName</a>
								}
								else
								{
									@player.PlayerName
								}
							</td>
							@if (player.PickNum != null)
							{
								<td colspan="@(Model.AreYearByeWeeksFound() ? "3" : "2")">(@player.NickName, #@player.PickNum)</td>
							}
							else
							{
								<td>@player.NFLTeamDisplay</td>
								<td>@player.Position</td>
								if (Model.AreYearByeWeeksFound())
								{
									<td class="ba-bye-week">(@Model.GetNFLTeamByeWeek(player.NFLTeam))</td>
								}
							}
						</tr>
					}
					</tbody>
				</table>
			</div>
			@Html.Partial("_PlayerRankCategory", Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.Overall))
			@Html.Partial("_PlayerRankCategory", Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.QB))
			@Html.Partial("_PlayerRankCategory", Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.RB))
			@Html.Partial("_PlayerRankCategory", Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.WRTE))
			@Html.Partial("_PlayerRankCategory", Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.DEF))
			@Html.Partial("_PlayerRankCategory", Model.SetCategory(DodgeDynasty.Models.ViewTypes.RankCategory.K))
		</div>
	</div>
</div>