<div id="dchat-partial">
	@{
		/* Draft Chat */
		var webSocketsKillSwitch = System.Configuration.ConfigurationManager.AppSettings[DodgeDynasty.Shared.Constants.AppSettings.WebSocketsKillSwitch];
		var draftChatKillSwitch = System.Configuration.ConfigurationManager.AppSettings[DodgeDynasty.Shared.Constants.AppSettings.DraftChatKillSwitch];

		var draftChatModel = DodgeDynasty.Shared.DBUtilities.GetCurrentDraftChatModel(Request);
		if (draftChatModel.IsDraftActive)
		{
			<script type="text/javascript">
				draftActive = true;
			</script>
			if (!DodgeDynasty.Shared.Utilities.ToBool(webSocketsKillSwitch)
				&& !DodgeDynasty.Shared.Utilities.ToBool(draftChatKillSwitch))
			{
				var chatMessages = draftChatModel.ChatMessages;
				var lastChat = chatMessages.LastOrDefault();
				<div class="dchat-window">
					<div class="dchat-template hide-yo-wives">
						<div class="dchat-entry">
							<span class="dchat-prev-outline">
								<span class="dchat-prev-stamp "></span>
							</span>
						</div>
					</div>
					<div class="dchat-header">
						<span class="dchat-controls">
							<span class="dchat-close">
								<a href="#" class="dchat-close-link"><img src="@Url.Content("~/Content/images/close.png")" alt="Close" /></a>
							</span>
							<span class="dchat-toggle">
								<a href="#" class="dchat-toggle-link" data-expand="@draftChatModel.ChatExpanded"><img class="dchat-toggle-img" src="@Url.Content("~/Content/images/expand.png")" alt="Close" /></a>
							</span>
						</span>
						<span class="dchat-preview">
							<span class="dchat-prev-content">
								@if (lastChat != null)
								{
									<span class="dchat-prev-outline">
										<span class="dchat-prev-stamp @lastChat.CssClass">@lastChat.NickName (@lastChat.AddTimestamp.ToString(DodgeDynasty.Shared.Constants.Times.ChatTimeFormat)):</span>
									</span>
									<span class="dchat-msg-text">@lastChat.MessageText</span>
								}
								else
								{
									<span class="dchat-prev-outline">
										<span class="dchat-prev-holder white">Welcome to the Draft! &lt;Chat here&gt;</span>
									</span>
								}
							</span>
							&nbsp;
						</span>
					</div>
					<div class="dchat-body hide-yo-wives">
						<div class="dchat-entry"></div>
						@foreach (var chat in chatMessages)
						{
							<div class="dchat-entry">
								<span class="dchat-prev-outline">
									<span class="dchat-prev-stamp @chat.CssClass">@chat.NickName (@chat.AddTimestamp.ToString(DodgeDynasty.Shared.Constants.Times.ChatTimeFormat)):</span>
								</span>
								<span class="dchat-msg-text">@chat.MessageText</span>
							</div>
						}
					</div>
					<div class="dchat-footer hide-yo-wives">
						<input type="text" class="dchat-input" placeholder="Message (Press Enter to send)" maxlength="200" />
						<button class="dchat-send-msg" type="submit">Send</button>
					</div>
				</div>

				<div class="dchat-window-error hide-yo-wives">
					<div class="dchat-template hide-yo-wives">
						<div class="dchat-entry">
							<span class="dchat-prev-outline">
								<span class="dchat-prev-stamp "></span>
							</span>
						</div>
					</div>
					<div class="dchat-header">
						<span class="dchat-controls">
							<span class="dchat-close">
								<a href="#" class="dchat-close-link"><img src="@Url.Content("~/Content/images/close.png")" alt="Close" /></a>
							</span>
							<span class="dchat-toggle">
								<a href="#" class="dchat-toggle-link" data-expand="@draftChatModel.ChatExpanded"><img class="dchat-toggle-img" src="@Url.Content("~/Content/images/expand.png")" alt="Close" /></a>
							</span>
						</span>
						<span class="dchat-preview invalid-border-small">
							<span class="dchat-prev-content">
								Too many tabs open.  Chat Disabled.
							</span>
							&nbsp;
						</span>
					</div>
					<div class="dchat-body hide-yo-wives invalid-border-small">
						<div class="dchat-entry">
							<p>Socket connection error (possibly too many browser tabs open to @Request.Url.Host.ToLower() at once).</p>
							<p>Draft Chat will be disabled on this tab until fewer tabs are opened.</p>
							<p>
								-<a href="#" class="force-dchat">Force Connection Attempt Anyway</a>-
							</p>
						</div>
					</div>
				</div>
			}
		}
	/* End Draft Chat */
	}
</div>