<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Dodge Dynasty League</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/themes/base")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/lib")
	<script src="@Url.Content("~/signalr/hubs")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/Site.js")"></script>
	@if (DodgeDynasty.Shared.Utilities.IsUserLoggedIn())
	{
		@Html.Partial(DodgeDynasty.Shared.Constants.Views.ColorStyles)
	}
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">D<span class="mobile-hide">odge</span>D<span class="mobile-hide">ynasty</span></p>
			</div>
			<div>
				<nav>
					@{
						var msgCount = 0;
						var msgCountDisplay = "";
					}
					<ul class="menu top-nav">
						@if (DodgeDynasty.Shared.Utilities.IsUserLoggedIn())
						{
							var draftId = DodgeDynasty.Shared.Utilities.GetRouteDraftId(Url.RequestContext.RouteData);
							var historyMode = Request.QueryString[DodgeDynasty.Shared.Constants.QS.HistoryMode];
							msgCount = DodgeDynasty.Shared.DBUtilities.GetMessageCountModel().NewMessages.Count;
							msgCountDisplay = DodgeDynasty.Shared.Utilities.GetMessageCountDisplay(msgCount);
							if (draftId != null && DodgeDynasty.Shared.Utilities.ToBool(historyMode))
							{
								<li>@Html.ActionLink("Pick", "Pick/" + draftId, "Draft", new { historyMode = true }, null)</li>
								<li>@Html.ActionLink("Draft", "Display/" + draftId, "Draft", new { historyMode = true }, null)</li>
								<li>@Html.ActionLink("Teams", "TeamDisplay/" + draftId, "Draft", new { historyMode = true }, null)</li>
								<li>@Html.ActionLink("Ranks", "BestAvailable/" + draftId, "Draft", new { historyMode = true }, null)</li>
							}
							else
							{
								<li>@Html.ActionLink("Pick", "Pick", "Draft")</li>
								<li>@Html.ActionLink("Draft", "Display", "Draft")</li>
								<li>@Html.ActionLink("Teams", "TeamDisplay", "Draft")</li>
								<li>@Html.ActionLink("Ranks", "BestAvailable", "Draft")</li>
							}
							<li>
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<span class="toggle-msgs-section">
									@if (msgCount > 0)
									{
										<a id="toggle-msgs-link" href="#">
											<span class="toggle-msgs">@msgCountDisplay</span>
										</a>
									}
								</span>
							</li>
						}
						else
						{
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("About", "About", "Home")</li>
							<li>@Html.ActionLink("Login", "Login", "Account")</li>
						}
					</ul>
					<div class="navbar-collapse collapse">
						<ul class="menu nav navbar-nav">
							<li>@Html.ActionLink("History", "History", "Draft")</li>
							<li>
								<a href="@Url.Action("Messages", "Site")">
									Messages
									@if (msgCount > 0)
									{
										<span class="menu-msgs-section">
											<span class="menu-msgs">@msgCountDisplay</span>
										</span>
									}
								</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
								   aria-expanded="false">Settings<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
									<li>@Html.ActionLink("My Info", "MyInfo", "Account")</li>
									<li>@Html.ActionLink("Logout", "Logout", "Account")</li>
									<!--<li class="divider"></li>-->
								</ul>
							</li>
							@if (DodgeDynasty.Shared.Utilities.IsUserAdmin())
							{
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
									   aria-expanded="false">Admin<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li>@Html.ActionLink("Change User Password", "ChangePassword", "Admin")</li>
										<li>@Html.ActionLink("Manage Users", "ManageUsers", "Admin")</li>
										<li>@Html.ActionLink("Manage Leagues", "ManageLeagues", "Admin")</li>
										<li>@Html.ActionLink("Setup Draft", "SetupDraft", "Admin")</li>
										<li>@Html.ActionLink("Activate Draft", "ActivateDraft", "Admin")</li>
										<li>@Html.ActionLink("Enter Draft Pick", "Input", "Admin")</li>
										<li><a href="#" class="menu-broadcast-draft">Broadcast Draft Pick</a></li>
										<!--<li class="divider"></li>-->
									</ul>
								</li>
							}
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<div class="content-width">
		<div id="body">
			@RenderSection("featured", required: false)
			<section class="content-wrapper main-content clear-fix">
				@RenderBody()
			</section>
			@if (DodgeDynasty.Shared.Utilities.IsUserLoggedIn())
			{
				/* User Turn Dialog */
				<div id="userTurnDialog" class="center hide-yo-kids" title="Your Turn">
					<p>You are up!</p>

					<p class="ut-last-pick"></p>
				</div>

				/* Draft Chat */
				var draftChatModel = DodgeDynasty.Shared.DBUtilities.GetCurrentDraftChatModel();
				if (draftChatModel.IsDraftActive)
				{
					<script type="text/javascript">
						$(function () {
							initPage(true);
						});
					</script>
					var chatMessages = draftChatModel.ChatMessages;
					var lastChat = chatMessages.LastOrDefault();
					<div class="dchat-window">
						<div class="dchat-template hide-yo-wives">
							<div class="dchat-entry">
								<span class="dchat-prev-outline">
									<span class="dchat-prev-stamp "></span>
								</span>
							</div>
						</div>
						<div class="dchat-header">
							<span class="dchat-controls">
								<span class="dchat-close">
									<a href="#" class="dchat-close-link"><img src="@Url.Content("~/Content/images/close.png")" alt="Close" /></a>
								</span>
								<span class="dchat-toggle">
									<a href="#" class="dchat-toggle-link" data-expand="false"><img class="dchat-toggle-img" src="@Url.Content("~/Content/images/expand.png")" alt="Close" /></a>
								</span>
							</span>
							<span class="dchat-preview">
								@if (lastChat != null)
								{
									<span class="dchat-prev-outline">
										<span class="dchat-prev-stamp @lastChat.CssClass">@lastChat.NickName (@lastChat.AddTimestamp.ToString(DodgeDynasty.Shared.Constants.ChatTimeFormat)):</span>
									</span>
									@lastChat.MessageText
								}
							</span>
						</div>
						<div class="dchat-body hide-yo-wives">
							<div class="dchat-entry"></div>
							@foreach (var chat in chatMessages)
							{
								<div class="dchat-entry">
									<span class="dchat-prev-outline">
										<span class="dchat-prev-stamp @chat.CssClass">@chat.NickName (@chat.AddTimestamp.ToString(DodgeDynasty.Shared.Constants.ChatTimeFormat)):</span>
									</span>
									@chat.MessageText
								</div>
							}
						</div>
						<div class="dchat-footer hide-yo-wives">
							<input type="text" class="dchat-input" placeholder="Enter message" maxlength="200" />
							<button class="dchat-send-msg" type="submit">Send</button>
						</div>
					</div>

					<div class="dchat-window-error hide-yo-wives">
						<div class="dchat-template hide-yo-wives">
							<div class="dchat-entry">
								<span class="dchat-prev-outline">
									<span class="dchat-prev-stamp "></span>
								</span>
							</div>
						</div>
						<div class="dchat-header">
							<span class="dchat-controls">
								<span class="dchat-close">
									<a href="#" class="dchat-close-link"><img src="@Url.Content("~/Content/images/close.png")" alt="Close" /></a>
								</span>
								<span class="dchat-toggle">
									<a href="#" class="dchat-toggle-link" data-expand="false"><img class="dchat-toggle-img" src="@Url.Content("~/Content/images/expand.png")" alt="Close" /></a>
								</span>
							</span>
							<span class="dchat-preview invalid-border-small">
								Too many tabs open.  Chat Disabled.
							</span>
						</div>
						<div class="dchat-body hide-yo-wives invalid-border-small">
							<div class="dchat-entry">
								<p>Too many browser tabs are open to @Request.Url.Host.ToLower() at one time.</p>
								<p>Draft Chat must be disabled on this tab until fewer than 5 tabs are opened.</p>
								<p>-Force Connection Anyway-</p>
							</div>
						</div>
					</div>
				}
			}
		</div>
		<footer>
			<div class="content-wrapper">
				<div class="float-left">
					<p>&copy; @DateTime.Now.Year - Dodge Dynasty League</p>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript">
		var baseURL = '@Url.Content("~")';
		var defaultRefreshTimer = @System.Configuration.ConfigurationManager.AppSettings[DodgeDynasty.Shared.Constants.AppSettings.RefreshTimer];
		var fastRefreshTimer = @System.Configuration.ConfigurationManager.AppSettings[DodgeDynasty.Shared.Constants.AppSettings.FastRefreshTimer];
		var refreshTimer = defaultRefreshTimer;
		var draftHistoryId = '@DodgeDynasty.Shared.Utilities.GetRouteDraftId(Url.RequestContext.RouteData)';
		var contentImagesPath = '@Url.Content("~/Content/images/")';
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
