@model DodgeDynasty.Models.Account.UserInfoModel

<div id="userInfo" class="@(Model.AdminMode ? "adminUserInfo" : "")" data-user-id="@Model.UserId">
	<script type="text/javascript">
		$(function () {
			initUserInfo();
		});
	</script>
	@{ Html.EnableClientValidation(true); }
	<div class="error-messages">
		@Html.ValidationSummary(true)
		<div class="blank-team-msg invalid hide-yo-wives">Error - Team Name cannot be left blank.</div>
	</div>
	<div class="page-entries">
		@{
			string actionName = Model.AdminMode ? "UserInfo" : "MyInfo";
			string controllerName = Model.AdminMode ? "Admin" : "Account";
		}
		@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "userInfoForm" }))
		{
			<div class="mi-user-entry">
				<div class="mi-user-entry-header">
					@if (Model.AdminMode)
					{
						@Html.LabelFor(m => m.UserName, new { @class = "mi-user-header" })
					}
					@Html.LabelFor(m => m.FirstName, new { @class = "mi-first-header" })
					@Html.LabelFor(m => m.LastName, new { @class = "mi-last-header" })
					@Html.LabelFor(m => m.NickName, new { @class = "mi-nick-header" })
				</div>
				<div class="mi-user-entry-name block-error">
					@if (Model.AdminMode)
					{
						<span class="mi-uname-section">
							@Html.DropDownListFor(u => u.UserName, Model.GetUserListItems(Model.UserName), new { @class = "mi-user-name" })
						</span>
					}
					@Html.TextBoxFor(m => m.FirstName, new { @class = "mi-first-name", maxLength = "15", autofocus = "autofocus" })
					@Html.TextBoxFor(m => m.LastName, new { @class = "mi-last-name", maxLength = "25" })
					@Html.TextBoxFor(m => m.NickName, new { @class = "mi-nick-name", maxLength = "10" })
					@Html.ValidationMessageFor(m => m.FirstName)
					@Html.ValidationMessageFor(m => m.LastName)
					@Html.ValidationMessageFor(m => m.NickName)
				</div>
			</div>
			<div class="mi-league-entry-section page-section">
				<div class="mi-leagues mobile-touch-scroll">
					@if (Model.OwnerLeagues.Count > 0)
					{
						<div class="mi-league-entry-header">
							<label class="mi-league-header">League</label>
							<label class="mi-teamname-header">Team Name</label>
							<label class="mi-color-header">Color</label>
							<label class="mi-active-header @(!Model.AdminMode?"hide-yo-wives":"")">Active?</label>
							@if (!DodgeDynasty.Shared.Utilities.GetBoolConfigVal(DodgeDynasty.Shared.Constants.AppSettings.UserEditAudioKillSwitch))
							{
								<label class="mi-audio-header">Audio?</label>
							}
						</div>
					}
					@for (int i = 0; i < Model.OwnerLeagues.Count; i++)
					{
						<div class="mi-league-entry" data-league-id="@Model.OwnerLeagues[i].LeagueId">
							@Html.HiddenFor(o => Model.OwnerLeagues[i].LeagueId)
							@Html.HiddenFor(o => Model.OwnerLeagues[i].LeagueName)
							<span class="mi-league">
								<span class="mi-league-name">@Model.OwnerLeagues[i].LeagueName</span>
							</span>
							<span class="mi-team-name">
								@Html.TextBoxFor(o => Model.OwnerLeagues[i].TeamName, new { @class = "mi-team-input", maxLength = "50" })
							</span>
							<span class="mi-color">
								<span class="mi-outer outline">
									<span class="mi-selected-color @Model.OwnerLeagues[i].CssClass">
										@Html.DropDownListFor(o => Model.OwnerLeagues[i].CssClass,
												  Model.GetLeagueColorOptions(Model.OwnerLeagues[i].LeagueId, Model.OwnerLeagues[i].CssClass),
												new { @class = "mi-color-select" })
									</span>
								</span>
							</span>
							<span class="mi-active @(!Model.AdminMode?"hide-yo-wives":"")">
								@Html.CheckBoxFor(o => Model.OwnerLeagues[i].IsActive, new { @class = "mi-active-chkbx" })
							</span>
							@if (!DodgeDynasty.Shared.Utilities.GetBoolConfigVal(DodgeDynasty.Shared.Constants.AppSettings.UserEditAudioKillSwitch))
							{
								<span class="mi-audio">
									@Html.HiddenFor(o => Model.OwnerLeagues[i].AnnouncePrevPick, new { @class = "mi-prevpick-hidden" })
									@{ var playAudio = Model.OwnerLeagues[i].AnnounceAllPicks || Model.OwnerLeagues[i].AnnouncePrevPick; }
									@Html.CheckBoxFor(o => playAudio, new { @class = "mi-audio-chkbx" })
								</span>
							}
						</div>
					}
					@if (!Model.AdminMode)
					{
						<div class="page-section-small note-text">
							<input id="chkMIHideUserTurn" class="vert-middle" type="checkbox" /> <span class="note-text">Do not show the "Your Turn" dialog again</span>
						</div>
					}

					@if (!DodgeDynasty.Shared.DBUtilities.GetBoolSiteConfigValue(DodgeDynasty.Shared.Constants.AppSettings.PushNotificationsKillSwitch))
					{
					<div class="push-notif-prefs test-audio">
						<div class="note-text">
							<input id="chkMIPushNotifications" class="vert-middle" type="checkbox" />
							<span class="note-text">*NEW* Your Turn push notifications!</span>
							<span id="miSubscribeStatus"></span>
						</div>
						<div class="page-section-small note-text">
							<button id="btnSimulateTurn">Simulate Turn Notification</button>
						</div>
					</div>
					}

					@if (!DodgeDynasty.Shared.Utilities.GetBoolConfigVal(DodgeDynasty.Shared.Constants.AppSettings.UserEditAudioKillSwitch))
					{
						@Html.Partial(DodgeDynasty.Shared.Constants.Views.TestAudioPartial, true)
					}

					<div class="test-audio-padding page-section">
						<div class="show-pos-colors-prefs test-audio">
							<div class="page-section-small">
								@Html.LabelFor(m => m.DraftShowPositionColors)
								@Html.DropDownListFor(m => m.DraftShowPositionColors, Model.GetShowPositionColorsOptions(Model.DraftShowPositionColors), new { id = "dr-show-pos-clr" })
							</div>
							<div class="page-section-small">
								@Html.LabelFor(m => m.TeamsShowPositionColors)
								@Html.DropDownListFor(m => m.TeamsShowPositionColors, Model.GetShowPositionColorsOptions(Model.TeamsShowPositionColors), new { id = "tm-show-pos-clr" })
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-section"><button class="submit-info" type="submit">Submit</button></div>
		}
	</div>
</div>