@model DodgeDynasty.Models.AddEditLeagueModel

<div id="addEditLeague">
	<script type="text/javascript">
		$(function () {
			initAddEditLeague();
		});
	</script>
	<div class="large-page-header">@ViewBag.Title</div>
	@{ Html.EnableClientValidation(true); }
	@Html.ValidationSummary(false)
	<div class="error-messages">
		<div class="blank-owner-msg invalid hide-yo-wives">Error - Owner cannot be left blank.</div>
		<div class="blank-team-msg invalid hide-yo-wives">Error - Team Name cannot be left blank.</div>
		<div class="dup-owner-msg invalid hide-yo-wives">Error - Owner selected more than once.</div>
	</div>
	<div class="page-entries">
		@using (Html.BeginForm("EditLeague", "Admin", FormMethod.Post, new { id = "leagueForm" }))
		{
			@Html.HiddenFor(m => m.LeagueId, new { @class = "league-id" })
			<div>
				@Html.LabelFor(m => m.LeagueName): @Html.TextBoxFor(m => m.LeagueName, new { @class = "league-name", maxLength = "50", autofocus = "autofocus" })
				<div>@Html.ValidationMessageFor(m => m.LeagueName)</div>
			</div>
			<div class="page-section">
				<div class="copy-lo-entry hide-yo-wives">
					<div class="league-owner">
						@Html.DropDownList("UserId", Model.GetActiveLeagueUsers(), new { @class = "lo-select" })
					</div>
					<div class="lo-team-name">
						@Html.TextBox("TeamName", "", new { @class = "lo-team-input" })
					</div>
					<div class="lo-color">
						<span class="lo-outer outline">
							<span class="lo-selected-color _none">
								@Html.DropDownList("CssClass",
												Model.GetLeagueColorOptions(""),
												new
												{
													@class = "lo-color-select",
													data_prev_color = DodgeDynasty.Shared.Constants.CssClass.None,
													data_prev_text = DodgeDynasty.Shared.Constants.CssClass.NoneText
												})
							</span>
						</span>
					</div>
					<div class="lo-active">
						@Html.CheckBox("IsActive", new { @class = "lo-active-chkbx", @checked = "checked" })
					</div>
					<div class="owner-controls">
						<a href="#" class="league-remove-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/minus.png")" alt="Remove Owner" /></a>
						<a href="#" class="league-add-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Owner" /></a>
					</div>
				</div>
				<div class="league-owners">
					<div class="lo-entry-header">
						<label class="lo-owner-header">League Owners</label>
						<label class="lo-teamname-header">Team Name</label>
						<label class="lo-color-header">Color</label>
						<label class="lo-active-header">Active?</label>
						<label class="lo-controls-header"> </label>
					</div>
					@for (int i = 0; i < Model.LeagueOwnerUsers.Count; i++)
					{
						<div class="league-owner-entry">
							<div class="league-owner">
								@Html.DropDownListFor(o => Model.LeagueOwnerUsers[i].UserId, Model.GetActiveLeagueUsers(
								Model.LeagueOwnerUsers[i].UserId == null ? null : Model.LeagueOwnerUsers[i].UserId.ToString()),
								new { @class = "lo-select" })
							</div>
							<div class="lo-team-name">
								@Html.TextBoxFor(o => Model.LeagueOwnerUsers[i].TeamName, new { @class = "lo-team-input" })
							</div>
							<div class="lo-color">
								<span class="lo-outer outline">
									@{ var cssClass = Model.LeagueOwnerUsers[i].CssClass; }
									<span class="lo-selected-color @cssClass">
										@Html.DropDownListFor(o => cssClass,
											Model.GetLeagueColorOptions(cssClass),
											new
											{
												@class = "lo-color-select",
												data_prev_color = cssClass,
												data_prev_text = Model.GetColorText(cssClass)
											})
									</span>
								</span>
							</div>
							<div class="lo-active">
								@Html.CheckBoxFor(o => Model.LeagueOwnerUsers[i].IsActive, new { @class = "lo-active-chkbx", @checked = "checked" })
							</div>
							<div class="owner-controls">
								<a href="#" class="league-remove-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/minus.png")" alt="Remove Owner" /></a>
								<a href="#" class="league-add-owner" tabindex="-1"><img src="@Url.Content("~/Content/images/plus.png")" alt="Add Owner" /></a>
							</div>
						</div>
					}
				</div>
				<div class="page-section"><button class="submit-league" type="submit">Submit</button></div>
			</div>
		}
	</div>
</div>