@model DodgeDynasty.Models.AddLeagueModel

@{
	ViewBag.Title = "Add League";
}
@section scripts {
	<script type="text/javascript" src="../../Scripts/AddLeague.js"></script>
}

<div id="addLeague">
	<script type="text/javascript">
		$(function () {
			initAddLeague();
		});
	</script>
	<div class="large-page-header">Add New League</div>
	<div class="page-entries">
		<div>
			@Html.LabelFor(m => m.LeagueName): @Html.TextBoxFor(m => m.LeagueName, new { @class = "league-name autofocus", maxLength = "50" })
		</div>
		<div class="page-section">
			<div class="copy-lo-entry hide-yo-wives">
				<div class="league-owner">
					@Html.DropDownList("PlayerId", Model.GetActiveOwnerUsers(), new { @class = "lo-select" })
				</div>
				<div class="lo-team-name">
					@Html.TextBox("TeamName", "", new { @class = "lo-team-input" })
				</div>
				<div class="lo-active">
					@Html.CheckBox("IsActive", new { @class = "lo-active-chkbx", @checked = "checked" })
				</div>
				<div class="owner-controls">
					<a href="#" class="league-remove-owner" tabindex="-1"><img src="../../Content/images/minus.png" alt="Remove Owner" /></a>
					<a href="#" class="league-add-owner" tabindex="-1"><img src="../../Content/images/plus.png" alt="Add Owner" /></a>
				</div>
			</div>
			<div class="league-owners">
				<div class="lo-entry-header">
					<label class="lo-owner-header">League Owners</label>
					<label class="lo-teamname-header">Team Name</label>
					<label class="lo-active-header">Active?</label>
					<label class="lo-controls-header"> </label>
				</div>
				@foreach (var ownerUser in Model.LeagueOwnerUsers)
				{
					//TODO:
					//Add league owners HTML markup
					//Add OwnerUser functionality to AddLeagueModel, possibly pull out of DraftModel and share between both
					//  (i.e. OwnerUserMapper/Model?)
					//Add javascript for Add/Delete Users
					//Add "Add New OwnerUser" jQuery UI dialog & functionality
					//  - Extract to separate partial view & js file/fns in Site.js (for use in AddDraft page)
					//Eliminate need for Owner table (yuck)
					//New CssClass SQL table?
					<div class="league-owner-entry">
						<div class="league-owner">
							@Html.DropDownListFor(o => ownerUser.UserId, Model.GetActiveOwnerUsers(), new { @class = "lo-select" })
						</div>
						<div class="lo-team-name">
							@Html.TextBoxFor(o => ownerUser.TeamName, new { @class = "lo-team-input" })
						</div>
						<div class="lo-active">
							@Html.CheckBoxFor(o => ownerUser.IsActive, new { @class = "lo-active-chkbx", @checked = "checked" })
						</div>
						<div class="owner-controls">
							<a href="#" class="league-remove-owner" tabindex="-1"><img src="../../Content/images/minus.png" alt="Remove Owner" /></a>
							<a href="#" class="league-add-owner" tabindex="-1"><img src="../../Content/images/plus.png" alt="Add Owner" /></a>
						</div>
					</div>
				}
			</div>
			@using (Html.BeginForm("AddLeague", "Admin"))
			{
				<div class="page-section"><button class="submit-league" type="submit">Submit</button></div>
			}
		</div>
	</div>
</div>