@model DodgeDynasty.Models.AddLeagueModel

@{
	ViewBag.Title = "AddLeague";
}

<div id="addLeague">
	<script type="text/javascript">
		$(function () {
		});
	</script>
	<div class="large-page-header">Add New League</div>
	<div class="page-entries">
		<div>
			@Html.LabelFor(m => m.LeagueName):
			@Html.TextBoxFor(m => m.LeagueName, new { maxLength = "50" })
		</div>
		<div>
			@Html.LabelFor(m => m.NumOwners):
			@Html.TextBoxFor(m => m.NumOwners, new { @class = "num-input", maxLength = "2" })
		</div>
		@foreach (var player in Model.NumOwners)
		{
	  //TODO:  
	  //Add league owners HTML markup
	  //Add OwnerUser functionality to AddLeagueModel, possibly pull out of DraftModel and share between both
	  //  (i.e. OwnerUserModel/Mapper?)
	  //Add javascript for Add/Delete Users
	  //Add "Add New OwnerUser" jQuery UI dialog & functionality
	  //  - Extract to separate partial view & js file/fns in Site.js (for use in AddDraft page)
		@*<div class="player-rank-entry clear-fix">
			<div class="rank-vertical-controls">
				<a href="#" class="rank-move-up" tabindex="-1"><img src="../../Content/images/up.png" alt="Move Up" /></a>
				<a href="#" class="rank-move-down" tabindex="-1"><img src="../../Content/images/down.png" alt="Move Down" /></a>
			</div>

			<div class="ranked-player">
				<span class="player-rank-num">@player.RankNum</span>
				<span class="player-select" data-player-id="@player.PlayerId">@Model.GetPlayerDetails(player.PlayerName, player.NFLTeam, player.Position)</span>
			</div>
			<div class="rank-change-controls">
				<a href="#" class="rank-remove-player" tabindex="-1"><img src="../../Content/images/minus.png" alt="Remove Player" /></a>
				<a href="#" class="rank-add-player" tabindex="-1"><img src="../../Content/images/plus.png" alt="Add Player" /></a>
			</div>
		</div>*@
		}
		<div>
	</div>
</div>