@model DodgeDynasty.Models.AddEditLeagueModel

@{
	ViewBag.Title = "Add League";
}
@section scripts {
	<script type="text/javascript" src="../../Scripts/AddLeague.js"></script>
	<script type="text/javascript" src="../../Scripts/AddEditLeague.js"></script>
	<script type="text/javascript" src="../../Scripts/LeagueOwnerUser.js"></script>
}
<div id="addEditLeague">
	<script type="text/javascript">
		$(function () {
			initAddEditLeague();
		});
	</script>
	<div class="large-page-header">Add New League</div>
	@{ Html.EnableClientValidation(true); }
	@Html.ValidationSummary(false)
	<div class="error-messages">
		<div class="blank-owner-msg invalid hide-yo-wives">Error - Owner cannot be left blank.</div>
		<div class="blank-team-msg invalid hide-yo-wives">Error - Team Name cannot be left blank.</div>
		<div class="dup-owner-msg invalid hide-yo-wives">Error - Owner selected more than once.</div>
	</div>
	<div class="page-entries">
		@using (Html.BeginForm("AddLeague", "Admin", FormMethod.Post, new { id = "leagueForm" }))
		{
			<div>
				@Html.LabelFor(m => m.LeagueName): @Html.TextBoxFor(m => m.LeagueName, new { @class = "league-name", maxLength = "50", autofocus = "autofocus" })
				<div>@Html.ValidationMessageFor(m => m.LeagueName)</div>
			</div>
		}
		<div class="page-section">
			<div class="copy-lo-entry hide-yo-wives">
				<div class="league-owner">
					@Html.DropDownList("UserId", Model.GetActiveOwnerUsers(), new { @class = "lo-select" })
				</div>
				<div class="lo-team-name">
					@Html.TextBox("TeamName", "", new { @class = "lo-team-input" })
				</div>
				<div class="lo-active">
					@Html.CheckBox("IsActive", new { @class = "lo-active-chkbx", @checked = "checked" })
				</div>
				<div class="owner-controls">
					<a href="#" class="league-remove-owner" tabindex="-1"><img src="../../Content/images/minus.png" alt="Remove Owner" /></a>
					<a href="#" class="league-add-owner" tabindex="-1"><img src="../../Content/images/plus.png" alt="Add Owner" /></a>
				</div>
			</div>
			<div class="league-owners">
				<div class="lo-entry-header">
					<label class="lo-owner-header">League Owners</label>
					<label class="lo-teamname-header">Team Name</label>
					<label class="lo-active-header">Active?</label>
					<label class="lo-controls-header"> </label>
				</div>
				@foreach (var ownerUser in Model.LeagueOwnerUsers)
				{
					//TODO:
					//Add "Add New OwnerUser" jQuery UI dialog & functionality
					//  - Extract to separate partial view & js file/fns in Site.js (for use in AddDraft page)
					//Eliminate need for Owner table (yuck)
					//New CssClass SQL table?
					<div class="league-owner-entry">
						<div class="league-owner">
							@Html.DropDownListFor(o => ownerUser.UserId, Model.GetActiveOwnerUsers(), new { @class = "lo-select" })
						</div>
						<div class="lo-team-name">
							@Html.TextBoxFor(o => ownerUser.TeamName, new { @class = "lo-team-input" })
						</div>
						<div class="lo-active">
							@Html.CheckBoxFor(o => ownerUser.IsActive, new { @class = "lo-active-chkbx", @checked = "checked" })
						</div>
						<div class="owner-controls">
							<a href="#" class="league-remove-owner" tabindex="-1"><img src="../../Content/images/minus.png" alt="Remove Owner" /></a>
							<a href="#" class="league-add-owner" tabindex="-1"><img src="../../Content/images/plus.png" alt="Add Owner" /></a>
						</div>
					</div>
				}
			</div>
			<div class="page-section"><button class="submit-league" type="submit">Submit</button></div>
		</div>
	</div>
</div>