@model DodgeDynasty.Models.AdminPasswordModel
@{
	ViewBag.Title = "Admin Change Password";
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ChangePassword", "Admin"))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<fieldset>
		<legend>Change User Password</legend>
		<ol>
			<li>
				@Html.LabelFor(m => m.UserName)
				@Html.DropDownListFor(m => m.UserName, Model.GetUserNames())
			</li>
			<li>
				@Html.LabelFor(m => m.CurrentPassword)
				@Html.PasswordFor(m => m.CurrentPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword)
			</li>
		</ol>
		<input type="submit" value="Set password" />
	</fieldset>
}

@section Scripts {
}
