@model DodgeDynasty.Models.DraftSetupModel
@{
    ViewBag.Title = "Draft Setup";
}

<h2>Draft Setup</h2>

<section>
@using (Html.BeginForm("SetupDraft", "Admin"))
{
	<h2>@Model.GetCurrentDraftName() Draft.</h2>
	foreach (var round in Model.GetDraftSetupPicks())
	{
		<div class="center">
			<span class="label">Round @round.RoundId Draft Order - </span>
			<span>Starting Pick: @round.StartPickId,</span>
			<span>Ending Pick: @round.EndPickId,</span>
			<span>Draft Order Type: @round.DraftOrderType,</span>
			<span>Continue for next @round.ContinueForRounds rounds.</span>
		</div>
		<div class="center">
			<span>Order: </span>
			@{foreach (var order in Model.GetDraftOrderForRound(round.RoundId)) {
				<span><span class="label">@order.OrderId:</span> @order.FirstName @order.LastName. </span>
			  }	 
			}
		</div>
	  }
	}
	<p>
		<input type="submit" value="Generate Draft" />
	</p>
	}
</section>