@model DodgeDynasty.Models.Admin.ManageUsersModel

@{
	ViewBag.Title = "Manage Users";
}
@section scripts {
}
<div id="manageUsers">
	<div class="large-page-header">@ViewBag.Title</div>
	<div class="page-entries">
		<div class="page-entry">
			<a href="@Url.Content("~/Admin/AddUser")">&lt;Add New User&gt;</a>
		</div>
		<div class="page-section">
			<div class="page-header">Active Users</div>
			@foreach (var user in Model.ActiveUsers)
			{
				<div class="page-entry">
					<a href="@Url.Content("~/Admin/UserInfo?userName=" + user.UserName)">@user.FullName</a>
					(<a href="SetUserStatus/@user.UserId?isActive=false">Deactivate</a>)
				</div>
			}
		</div>
		<div class="page-section">
			<div class="page-header">Inactive Users</div>
			@foreach (var user in Model.InactiveUsers)
			{
				<div class="page-entry">
					<a href="@Url.Content("~/Admin/UserInfo?userName=" + user.UserName)">@user.FullName</a>
					(<a href="SetUserStatus/@user.UserId?isActive=true">Activate</a>)
				</div>
			}
		</div>
	</div>

</div>