@model DodgeDynasty.Models.PlayerAdjustments.PlayerAdjustmentsModel

@{
	ViewBag.Title = "Player Adjustments";
}
@section scripts {
	<script type="text/javascript" src="@Url.Script("~/Scripts/AdjustmentsShared.js")"></script>
	<script type="text/javascript" src="@Url.Script("~/Scripts/PlayerAdjustments.js")"></script>
	<script type="text/javascript">
		$(function () {
			playerHints = @Html.Raw(@Model.GetPlayerHints());
			initPlayerAdjustments();
		});
	</script>
}
<div id="playerAdjustments">
	<div class="page-entries">
		<div class="page-section">
			@if (Model.NonUniquePlayers.Count > 0)
			{
				<div class="message-error">Non-Unique Players Found!!!</div>
			}
			@if (Model.DuplicateActivePlayers.Count > 0)
			{
				<div class="message-error">Duplicate Active Players Found!!!</div>
			}
		</div>
		<div class="page-section">
			<div class="player-actions">
				<a class="pa-add-player" href="#">Add New Player</a>
			</div>
			<div class="player-actions">
				<a class="pa-edit-player" href="#">Edit Player</a>
			</div>
		</div>
		<div class="page-section">
			<div class="page-header">
				Added Players
				<span class="pa-toggle-text">(<a class="pa-toggle" href="#">Toggle</a>)</span>
			</div>
			<table id="pa-added-players" class="disp-table">
				<tbody>
					<tr>
						<th>Id</th>
						<th>TPId</th>
						<th>Player Name</th>
						<th>Pos</th>
						<th>NFL Team</th>
						<th>Action</th>
						<th>User</th>
						<th>Drafts/Ranks</th>
						<th>Time</th>
						<th>Links</th>
					</tr>

					@foreach (var player in Model.AddedPlayers)
					{
						var playerClass = Model.NewAdjustmentIds.Contains(player.AdjustmentId) ? " invalid-border" : "";
						<tr data-player-id="@player.PlayerId" class="@playerClass">
							<td>@player.PlayerId</td>
							<td>@player.TruePlayerId</td>
							<td>@player.PlayerName</td>
							<td>@player.Position</td>
							<td>@player.NFLTeam</td>
							<td>@player.Action</td>
							<td class="nowrap">@player.UserFullName</td>
							@Html.Partial("_DraftsRanksPartial", player)
							<td class="nowrap">@player.AddTimestamp</td>
							<td class="pa-entry-links">
								&lt;<a class="pa-edit-player" href="#">Edit</a>&gt;
								<span class="@(player.IsActive ? "hide-yo-wives" : "bold activate")">&lt;<a class="pa-activate-player activate" href="#">Activate</a>&gt;</span>
								<span class="@(!player.IsActive ? "hide-yo-wives" : "bold deactivate")">&lt;<a class="pa-deactivate-player deactivate" href="#">Deactivate</a>&gt;</span>
								@*TBD: consider if delete player necessary*@
								@*<span class="@(player.IsDrafted ? "hide-yo-wives" : "")">&lt;<a class="pa-delete-player" href="#">Delete</a>&gt;</span>*@
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="page-section">
			<div class="page-header">
				Other Player Adjustments
				<span class="pa-toggle-text">(<a class="pa-toggle" href="#">Toggle</a>)</span>
			</div>
			<table id="pa-other-players" class="disp-table">
				<tbody>
					<tr>
						<th>Id</th>
						<th>TPId</th>
						<th>Player Name</th>
						<th>Pos</th>
						<th>NFL Team</th>
						<th>Action</th>
						<th>User</th>
						<th>Drafts/Ranks</th>
						<th>Time</th>
						<th>Links</th>
					</tr>

					@foreach (var player in Model.OtherAdjPlayers)
					{
						var playerClass = Model.NewAdjustmentIds.Contains(player.AdjustmentId) ? " invalid-border" : "";
						<tr data-player-id="@player.PlayerId" class="@playerClass">
							<td>@player.PlayerId</td>
							<td>@player.TruePlayerId</td>
							<td>@player.PlayerName</td>
							<td>@player.Position</td>
							<td>@player.NFLTeam</td>
							<td>@player.Action</td>
							<td class="nowrap">@player.UserFullName</td>
							@Html.Partial("_DraftsRanksPartial", player)
							<td class="nowrap">@player.AddTimestamp</td>
							<td class="pa-entry-links">
								&lt;<a class="pa-edit-player" href="#">Edit</a>&gt;
								<span class="@(player.IsActive ? "hide-yo-wives" : "bold activate")">&lt;<a class="pa-activate-player activate" href="#">Activate</a>&gt;</span>
								<span class="@(!player.IsActive ? "hide-yo-wives" : "bold deactivate")">&lt;<a class="pa-deactivate-player deactivate" href="#">Deactivate</a>&gt;</span>
								@*TBD: consider if delete player necessary*@
								@*<span class="@(player.IsDrafted ? "hide-yo-wives" : "")">&lt;<a class="pa-delete-player" href="#">Delete</a>&gt;</span>*@
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="page-section">
			<div class="page-header">Player Audit View</div>
			@if (Model.NonUniquePlayers.Count == 0)
			{
				<span class="bold">Non-Unique Player Check: </span><span> (None found)</span>
			}
			else
			{
				<table id="pa-unique-check" class="disp-table invalid-border">
					<caption>Non-Unique Player Check</caption>
					<tbody>
						<tr>
							<th>Id</th>
							<th>TPId</th>
							<th>Player Name</th>
							<th>Pos</th>
							<th>NFL Team</th>
							<th>Drafts/Ranks</th>
							<th>Time</th>
							<th>Links</th>
						</tr>

						@foreach (var player in Model.NonUniquePlayers)
						{
							<tr data-player-id="@player.PlayerId">
								<td>@player.PlayerId</td>
								<td>@player.TruePlayerId</td>
								<td>@player.PlayerName</td>
								<td>@player.Position</td>
								<td>@player.NFLTeam</td>
								@Html.Partial("_DraftsRanksPartial", player)
								<td class="nowrap">@player.AddTimestamp</td>
								<td class="pa-entry-links">
									&lt;<a class="pa-edit-player" href="#">Edit</a>&gt;
									<span class="@(player.IsActive ? "hide-yo-wives" : "bold activate")">&lt;<a class="pa-activate-player activate" href="#">Activate</a>&gt;</span>
									<span class="@(!player.IsActive ? "hide-yo-wives" : "bold deactivate")">&lt;<a class="pa-deactivate-player deactivate" href="#">Deactivate</a>&gt;</span>
									@*TBD: consider if delete player necessary*@
									@*<span class="@(player.IsDrafted ? "hide-yo-wives" : "")">&lt;<a class="pa-delete-player" href="#">Delete</a>&gt;</span>*@
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		@if (Model.DuplicateActivePlayers.Count == 0)
		{
		<span class="bold">Duplicate Active TruePlayer Check: </span> <span>(None found)</span>
		}
		else
		{
		<div class="page-section">
			<table id="pa-dup-active-check" class="disp-table invalid-border">
				<caption>Duplicate Active TruePlayer Check</caption>
				<tbody>
					<tr>
						<th>Id</th>
						<th>TPId</th>
						<th>Player Name</th>
						<th>Pos</th>
						<th>NFL Team</th>
						<th>Drafts/Ranks</th>
						<th>Time</th>
						<th>Links</th>
					</tr>

					@foreach (var player in Model.DuplicateActivePlayers)
					{
						<tr data-player-id="@player.PlayerId">
							<td>@player.PlayerId</td>
							<td>@player.TruePlayerId</td>
							<td>@player.PlayerName</td>
							<td>@player.Position</td>
							<td>@player.NFLTeam</td>
							@Html.Partial("_DraftsRanksPartial", player)
							<td class="nowrap">@player.AddTimestamp</td>
							<td class="pa-entry-links">
								&lt;<a class="pa-edit-player" href="#">Edit</a>&gt;
								<span class="@(player.IsActive ? "hide-yo-wives" : "bold activate")">&lt;<a class="pa-activate-player activate" href="#">Activate</a>&gt;</span>
								<span class="@(!player.IsActive ? "hide-yo-wives" : "bold deactivate")">&lt;<a class="pa-deactivate-player deactivate" href="#">Deactivate</a>&gt;</span>
								@*TBD: consider if delete player necessary*@
								@*<span class="@(player.IsDrafted ? "hide-yo-wives" : "")">&lt;<a class="pa-delete-player" href="#">Delete</a>&gt;</span>*@
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		}
		<div class="page-section-large">
			<span class="pa-status-label">Active Player Count: </span><span>@Model.ActivePlayerCount</span>
			<span class="pa-status-label">(<span>Inactive Player Count: </span><span>@Model.InactivePlayerCount</span>)</span>
			<span class="pa-status-label"><button class="activate-defs ui-button-text">Inactivate All but 32 DEFs</button></span>
			<span class="pa-status-label"><button class="inactivate-all ui-button-text">Inactivate ALL Players</button></span>
		</div>
	</div>
	<div id="addNewPlayerDialog" class="center hide-yo-kids playerDialog" title="Add New Player">
		@using (Html.BeginForm("AddNewPlayer", "Admin", FormMethod.Post, new { id = "addNewPlayerForm" }))
		{
			<div class="page-section-small">
				@Html.LabelFor(m => m.Player.TruePlayerId, new { @class = "inline-label" })
				@Html.TextBoxFor(m => m.Player.TruePlayerId, new { id = "add-plyr-tpid", @class = "pa-player-id" })
			</div>
			<div class="page-section-small">
				@Html.LabelFor(m => m.Player.FirstName)
				@Html.TextBoxFor(m => m.Player.FirstName, new { id = "add-plyr-fname", list = "playerHints", maxLength = "25" })
				@Html.ValidationMessageFor(m => m.Player.FirstName)
				@Html.LabelFor(m => m.Player.LastName)
				@Html.TextBoxFor(m => m.Player.LastName, new { id = "add-plyr-lname", maxLength = "25" })
				@Html.ValidationMessageFor(m => m.Player.LastName)
				@Html.LabelFor(m => m.Player.Position)
				@Html.DropDownListFor(m => m.Player.Position, Model.GetPositionListItems(), new { id = "add-plyr-pos" })
				@Html.ValidationMessageFor(m => m.Player.Position)
				@Html.LabelFor(m => m.Player.NFLTeam)
				@Html.DropDownListFor(m => m.Player.NFLTeam, Model.GetNFLListItems(), new { id = "add-plyr-nfl" })
				@Html.ValidationMessageFor(m => m.Player.NFLTeam)
				<div>
					@Html.LabelFor(m => m.Player.IsActive, new { @class = "inline-label" })
					@Html.CheckBoxFor(m => m.Player.IsActive, new { id = "add-plyr-active", @class = "vert-middle", @checked = "checked" })

					@Html.LabelFor(m => m.Player.IsDrafted, new { @class = "inline-label" })
					@Html.CheckBoxFor(m => m.Player.IsDrafted, new { id = "add-plyr-drafted", @class = "vert-middle", @checked = "checked" })
				</div>
			</div>
			<div class="page-section-small">
				<a class="pa-clear-add" href="#">&lt;Clear Player&gt;</a>
			</div>
		}
	</div>
	<div id="editPlayerDialog" class="center hide-yo-kids playerDialog" title="Edit Player">
		@using (Html.BeginForm("EditPlayer", "Admin", FormMethod.Post, new { id = "editPlayerForm" }))
		{
			<div class="page-section-small">
				@Html.LabelFor(m => m.Player.PlayerId, new { @class = "inline-label" })
				@Html.TextBoxFor(m => m.Player.PlayerId, new { id = "edit-plyr-id", @class = "pa-player-id", disabled = true })
				@Html.LabelFor(m => m.Player.TruePlayerId, new { @class = "inline-label" })
				@Html.TextBoxFor(m => m.Player.TruePlayerId, new { id = "edit-plyr-tpid", @class = "pa-player-id" })
			</div>
			<div class="page-section-small">
				@Html.LabelFor(m => m.Player.FirstName)
				@Html.TextBoxFor(m => m.Player.FirstName, new { id = "edit-plyr-fname", list = "playerHints", maxLength = "25" })
				@Html.ValidationMessageFor(m => m.Player.FirstName)
				@Html.LabelFor(m => m.Player.LastName)
				@Html.TextBoxFor(m => m.Player.LastName, new { id = "edit-plyr-lname", maxLength = "25" })
				@Html.ValidationMessageFor(m => m.Player.LastName)
				@Html.LabelFor(m => m.Player.Position)
				@Html.DropDownListFor(m => m.Player.Position, Model.GetPositionListItems(), new { id = "edit-plyr-pos" })
				@Html.ValidationMessageFor(m => m.Player.Position)
				@Html.LabelFor(m => m.Player.NFLTeam)
				@Html.DropDownListFor(m => m.Player.NFLTeam, Model.GetNFLListItems(), new { id = "edit-plyr-nfl" })
				@Html.ValidationMessageFor(m => m.Player.NFLTeam)
				<div>
					@Html.LabelFor(m => m.Player.IsActive, new { @class = "inline-label" })
					@Html.CheckBoxFor(m => m.Player.IsActive, new { id = "edit-plyr-active", @class = "vert-middle", @checked = "checked" })

					@Html.LabelFor(m => m.Player.IsDrafted, new { @class = "inline-label" })
					@Html.CheckBoxFor(m => m.Player.IsDrafted, new { id = "edit-plyr-drafted", @class = "vert-middle", @checked = "checked" })
				</div>
			</div>
		}
	</div>
</div>