@model DodgeDynasty.Models.PlayerAdjustments.PlayerAdjustmentsModel

@{
	ViewBag.Title = "Player Adjustments";
}
@section scripts {
	<script type="text/javascript" src="@Url.Script("~/Scripts/PlayerAdjustments.js")"></script>
	<script type="text/javascript">
		$(function () {
			playerHints = @Html.Raw(@Model.GetPlayerHints());
			initPlayerAdjustments();
		});
	</script>
}
<div id="playerAdjustments">
	<div class="page-entries">
		<div class="page-section">
			<div class="player-actions">
				<a class="pa-add-player" href="#">Add New Player</a>
			</div>
			<div class="player-actions">
				<a class="pa-search-player" href="#">Search for Player</a>
			</div>
		</div>
		<div class="page-section">
			<div class="page-header">Added Player Adjustments
				<span class="pa-toggle-text">(<a class="pa-toggle" href="#">Toggle</a>)</span>
			</div>
			<table id="pa-added-players" class="pa-table">
			<tbody>
				<tr>
					<th>Id</th>
					<th>TPId</th>
					<th>Player Name</th>
					<th>Pos</th>
					<th>NFL Team</th>
					<th>Action</th>
					<th>User</th>
					<th>Drafts/Ranks</th>
					<th>Time</th>
					<th>Links</th>
				</tr>

				@foreach (var player in Model.AddedPlayers)
				{
					<tr data-player-id="@player.PlayerId">
						<td>@player.PlayerId</td>
						<td>@player.TruePlayerId</td>
						<td>@player.PlayerName</td>
						<td>@player.Position</td>
						<td>@player.NFLTeam</td>
						<td>@player.Action</td>
						<td class="nowrap">@player.UserFullName</td>
						<td>@player.DraftsRanksText</td>
						<td class="nowrap">@player.AddTimestamp</td>
						<td class="pa-entry-links">
							&lt;<a class="pa-edit-player" href="#">Edit</a>&gt;
							<span class="@(player.IsActive ? "hide-yo-wives" : "bold activate")">&lt;<a class="pa-activate-player activate" href="#">Activate</a>&gt;</span>
							<span class="@(!player.IsActive ? "hide-yo-wives" : "bold deactivate")">&lt;<a class="pa-deactivate-player deactivate" href="#">Deactivate</a>&gt;</span>
							<span class="@(player.IsDrafted ? "hide-yo-wives" : "")">&lt;<a class="pa-delete-player" href="#">Delete</a>&gt;</span>
						</td>
					</tr>
				}
			</table>
	</div>
		<div class="page-section">
			<div class="page-header">Other Player Adjustments
				<span class="pa-toggle-text">(<a class="pa-toggle" href="#">Toggle</a>)</span>
			</div>
			<table id="pa-other-players" class="pa-table">
				<tbody>
					<tr>
						<th>Id</th>
						<th>TPId</th>
						<th>Player Name</th>
						<th>Pos</th>
						<th>NFL Team</th>
						<th>Action</th>
						<th>User</th>
						<th>Drafts/Ranks</th>
						<th>Time</th>
						<th>Links</th>
					</tr>

					@foreach (var player in Model.OtherAdjPlayers)
					{
						<tr>
							<td>@player.PlayerId</td>
							<td>@player.TruePlayerId</td>
							<td>@player.PlayerName</td>
							<td>@player.Position</td>
							<td>@player.NFLTeam</td>
							<td>@player.Action</td>
							<td class="nowrap">@player.UserFullName</td>
							<td>@player.DraftsRanksText</td>
							<td class="nowrap">@player.AddTimestamp</td>
							<td class="pa-entry-links">
								&lt;<a class="pa-edit-player" href="#">Edit</a>&gt;
								<span class="@(player.IsActive ? "hide-yo-wives" : "bold activate")">&lt;<a class="pa-activate-player activate" href="#">Activate</a>&gt;</span>
								<span class="@(!player.IsActive ? "hide-yo-wives" : "bold deactivate")">&lt;<a class="pa-deactivate-player deactivate" href="#">Deactivate</a>&gt;</span>
								<span class="@(player.IsDrafted ? "hide-yo-wives" : "")">&lt;<a class="pa-delete-player" href="#">Delete</a>&gt;</span>
							</td>
						</tr>
					}
			</table>
		</div>
		<div class="page-section">
			<div class="page-header">Player Audit View</div>
			@* TODO:  Player Audit View *@
			@*@foreach (var draft in Model.CompleteDrafts)
			{
				<div class="page-entry">
					<div class="act-draft">@draft.DraftYear @draft.LeagueName</div>
					<div class="act-draft-links">
						<a class="mark-incomplete" href="SetDraftStatus/@draft.DraftId?isComplete=false">&lt;Mark Incomplete&gt;</a>
					</div>
				</div>
			}*@
		</div>
	</div>
	<div id="addNewPlayerDialog" class="center hide-yo-kids" title="Add New Player">
		@using (Html.BeginForm("AddNewPlayer", "Admin", FormMethod.Post, new { id = "addNewPlayerForm" }))
		{
			<div class="page-section-small">
				@Html.LabelFor(m => m.Player.TruePlayerId, new { @class = "inline-label" })
				@Html.TextBoxFor(m => m.Player.TruePlayerId, new { id = "add-plyr-tpid", @class = "pa-player-id" })
			</div>
			<div class="page-section-small">
				@Html.LabelFor(m => m.Player.FirstName)
				@Html.TextBoxFor(m => m.Player.FirstName, new { id = "add-plyr-fname", list = "playerHints", maxLength = "25" })
				@Html.ValidationMessageFor(m => m.Player.FirstName)
				@Html.LabelFor(m => m.Player.LastName)
				@Html.TextBoxFor(m => m.Player.LastName, new { id = "add-plyr-lname", maxLength = "25" })
				@Html.ValidationMessageFor(m => m.Player.LastName)
				@Html.LabelFor(m => m.Player.Position)
				@Html.DropDownListFor(m => m.Player.Position, Model.GetPositionListItems(), new { id = "add-plyr-pos" })
				@Html.ValidationMessageFor(m => m.Player.Position)
				@Html.LabelFor(m => m.Player.NFLTeam)
				@Html.DropDownListFor(m => m.Player.NFLTeam, Model.GetNFLListItems(), new { id = "add-plyr-nfl" })
				@Html.ValidationMessageFor(m => m.Player.NFLTeam)
				<div>
					@Html.LabelFor(m => m.Player.IsActive, new { @class = "inline-label" })
					@Html.CheckBoxFor(m => m.Player.IsActive, new { id = "add-plyr-active", @class = "vert-middle", @checked = "checked" })
				</div>
			</div>
			<div class="page-section-small">
				<a class="pa-clear-add" href="#">&lt;Clear Player&gt;</a>
			</div>
		}
	</div>
</div>