@model DodgeDynasty.Models.DraftInputModel
@{
	ViewBag.Title = "Commish Input Draft Pick";
	Model.AdminMode = DodgeDynasty.Shared.Constants.Modes.Commish;
}

@section scripts {
	<script type="text/javascript" src="@Url.Script("~/Scripts/Input.js")"></script>
}

<div id="pickInfo">
	<script type="text/javascript">
		$(function () {
			adminMode = '@DodgeDynasty.Shared.Constants.Modes.Commish';
			playerHints = @Html.Raw(@Model.GetPlayerHints(true));
			initInput();
		});
	</script>
	@Html.Partial(DodgeDynasty.Shared.Constants.Views.InputPartial, Model)
</div>