@model DodgeDynasty.Models.Site.MessagesModel
@{
	ViewBag.Title = "Messages";
}
@section scripts {
	<script type="text/javascript" src="@Url.Script("~/Scripts/Messages.js")"></script>
}
<div id="messages">
	<div id="tabs">

		<ul>
			<li><a href="#messages-tab">Messages</a></li>
			<li><a href="#draft-chat-tab">Draft Chats</a></li>
		</ul>

		<div id="messages-tab">
			<div class="msg-add-section">
				&lt;<a class="msg-add-link" href="#">Add New Message</a>&gt;
			</div>
			@foreach (var message in Model.Messages.OrderByDescending(o => o.AddTimestamp))
			{
				<div class="message-entry">
					<div class="message-header">
						@if (!string.IsNullOrEmpty(message.Title))
						{
							<div class="message-title">@message.Title</div>
						}
						<div class="message-meta">
							<span class="message-author">@message.AuthorName</span>
							@if (message.LeagueId != null)
							{
								<span class="message-to">(to @message.LeagueName)</span>
							}
							else
							{
								<span class="message-to">(to everyone)</span>
							}
							<span class="message-meta-hyphen"> - </span>
							<span class="message-datetime">@message.AddTimestamp.ToString("ddd, M/dd/yy @ h:mm tt"):</span>
						</div>
					</div>
					<div class="message-text">@message.MessageText</div>
				</div>
			}
		</div>

		<div id="draft-chat-tab">
			@if (Model.UserChatDrafts.Count > 0)
			{
				<div class="page-header">Draft Chats</div>
				foreach (var draft in Model.UserChatDrafts)
				{
					<div class="draft-chat-section">
						<a href="#" class="draft-chat-link" data-chat-expand="collapse">@draft.DraftYear @draft.LeagueName 
							<span class="mobile-hide">Draft Chat</span> 
							(<span class="draft-chat-flip">expand</span>)
						</a>
						<div class="draft-chat-entries hide-yo-wives">
							@{var draftChats = Model.DraftChatMessages.Where(o=>o.DraftId == draft.DraftId).ToList();}
							@foreach (var chat in draftChats) {
							<div class="draft-chat-entry">
								<span class="draft-chat-outline">
									<span class="draft-chat-stamp @chat.CssClass">@chat.NickName (@chat.AddTimestamp.ToString(DodgeDynasty.Shared.Constants.Times.ChatDateTimeFormat)):</span>
								</span>
								@chat.MessageText
							</div>
							}
						</div>
					</div>
				
				}
			}
		   else
		   {
				<div class="page-header">Draft Chat (Beta) now available while live drafting!</div>
				<div>An interactive, real-time Draft Chat window will appear in the bottom right hand corner of your page during the draft!  After the draft completes, the full draft chat log will be displayed in this tab.</div>
			}
		</div>

		<div id="addMessageDialog" class="center hide-yo-kids" title="Add Message">
			@using (Html.BeginForm("Messages", "Site", FormMethod.Post, new { id = "messageForm" }))
			{
				@Html.HiddenFor(o => o.MessageId)
				<p>
					<!--
					TODO:  RTE editing

					<button class="rte action-bold" title="Bold"><b>B</b></button>
					<button class="rte action-italic" title="Italics"><i>I</i></button>
					<button class="rte action-underline" title="Underline"><u>U</u></button>
					<button class="rte action-unformat" title="Remove Formatting">X</button>
					<button class="rte action-link btn glyphicon glyphicon-link" title="Create Link">L</button>
					<button class="rte action-ol btn glyphicon glyphicon-list" title="Ordered List"></button>
					<button class="rte action-ul btn glyphicon glyphicon-list" title="Unordered List"></button>-->
					<div class="msg-to-section">
						<span>To:</span>
						@Html.DropDownListFor(o => o.LeagueId, Model.GetAudienceLeagues(),
							new { @class = "add-msg-league" })
					</div>
					<div class="msg-title-section">
						@Html.TextBoxFor(o => o.Title, new
						{
							@class = "add-msg-title",
							type = "text",
							maxLength = "50",
							placeholder = "Title (optional)"
						})
					</div>
					<div class="msg-text-section">
						@Html.ValidationMessageFor(o => o.MessageText)
						@Html.TextAreaFor(o => o.MessageText, new { @class = "add-msg-text editable", maxLength = "1000" })
					</div>
				</p>
			}
		</div>
	</div>
