@model DodgeDynasty.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<div>You're logged in as <strong>@User.Identity.Name</strong>.</div>

@using (Html.BeginForm("ChangePassword", "Account"))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<fieldset>
		<legend>Change Password</legend>
		<ol>
			<li>
				@Html.LabelFor(m => m.CurrentPassword)
				@Html.PasswordFor(m => m.CurrentPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword)
			</li>
		</ol>
		<input type="submit" value="Set password" />
	</fieldset>
}

@section Scripts {
}
